[2015-02-20 17:32] khandelwal commented on #526
Also maybe look at Django formsets?

[2015-02-23 02:31] konklone opened #530 "Scan government sites for PDFs"
US Open Data's [Let Me Get That Data For You](http://lmgtdfy.usopendata.org) is a very neat system, and is an [open source Django app](https://github.com/opendata/lmgtdfy/) that uses Celery background tasks to queue up a search over a website domain.

This uses the Bing API, and the [Bing API costs money](http://datamarket.azure.com/dataset/bing/search) (there is a free tier). It could be used to,

[2015-02-23 02:38] waldoj commented on #530
You might check Common Crawl. We had to reject it for LMGTDFY you because it doesn't include CSV or XLS files (I stopped researching at that point), but perhaps it includes PDFs.

[2015-02-23 14:12] vz3 opened #531 "Fix remaining UI glitches - Global"
Part of #430

GLOBAL
- [x] The light font weight looks very light. "Webkit font-smoothing: antialiased" - This seems to be making it thinner. Do we need that?/Should we increase the weight slightly?
- [x] every page should have 60px padding at the bottom (above footer)
- [x] Top nav: make text semibold
- [x] add white bar under header with breadcrumb - on Understanding FOIA, About this Project, Fe

[2015-02-23 14:13] vz3 opened #532 "Fix remaining UI glitches - Home"
Part of #430

HOME
- [x] reduce padding above and below search bar to 30px
- [x] Add search button and magnifying glass
- [x] Change the small text on this page from 1 em to 1.2em
- [x] “Learn more about FOIA" link: make arrow dark blue to match link
- [ ] padding should be 30px between the bottom of text sections and the line below
- [ ] padding should be 60px between the line and the top of a ne

[2015-02-23 14:14] vz3 opened #533 "Fix remaining UI glitches - Understanding FOIA"
Part of #430

UNDERSTANDING FOIA
- [x] padding at top: 40px
- [x] Change page title to “Understanding FOIA”
- [x] padding under title: 60px
- [x] padding under question link section: 60px
- [x] Add first question title “What is FOIA?"
- [x] remove blue underline from “Why would I make a FOIA request?”
- [x] Add rules 20px under question titles (1px #323A45)
- [x] padding between bottom of text and

[2015-02-23 14:14] vz3 opened #534 "Fix remaining UI glitches - Federal Agencies"
Part of #430

FEDERAL AGENCIES
- [x] Do you think the title makes sense? Maybe switch to "Find a Federal Agency”? Just thinking about what would make the point of the page clearer...
- [x] title should be H1
- [x] padding at top: 40px
- [x] eliminate the black search bar section at the top of the page? Alternately, keep the search bar but eliminate the text above and below the box, and reduce the

[2015-02-23 14:15] vz3 opened #535 "Fix remaining UI glitches - Agency Detail"
Part of #430

AGENCY DETAIL
- [x] breadcrumb should be on white background
- [x] reduce breadcrumb text size to .8em
- [x] increase “Submit a Request” text size to 1.5em
- [x] reduce padding between “Submit a Request” and line below to 20px
- [x] increase “Request by Mail” etc title sizes to 1.2em
- [x] in the white box: reduce the size of the icons to 1.5em and move them over to the right slightl

[2015-02-23 14:16] vz3 commented on #430
Moving existing notes here for archival, tracked in individual issues

GLOBAL
- [ ] The light font weight looks very light. "Webkit font-smoothing: antialiased" - This seems to be making it thinner. Do we need that?/Should we increase the weight slightly?
- [ ] every page should have 60px padding at the bottom (above footer)
- [ ] Top nav: make text semibold
- [ ] add white bar under header with b

[2015-02-23 16:56] khandelwal commented on #490
@ramirezg Did you get anywhere with trying to use the official buckets?

[2015-02-23 16:58] khandelwal commented on #487
The prototype has been moved to integrate into foia-hub, and is going well. Currently, we've moved beyond how the prototype worked, and it's working even better.

[2015-02-23 16:58] #487 closed

[2015-02-23 17:01] khandelwal commented on #493
Having implemented this twice, once with the prototype, and once when integrating it into foia-hub - I'm not necessarily seeing a better way to do this right now.

We don't have a pipeline of documents from other agencies - so it's hard to know what they will be willing to provide. I'm going to close this for now, and we can revisit when we start negotiating with agencies.

[2015-02-23 17:03] khandelwal commented on #492
In addition to the metadata above, I think we'll also need to have:

The date the document was released to the public.

So the FINAL LIST (for now) is:

The date of the document
The title of the document (sometimes titles aren't actually in the document)
The agency that provided it as a FOIA responsive document
The date the document was released to the public.

The shorter we keep this list, the e

[2015-02-23 17:03] #492 closed

[2015-02-23 17:03] #493 closed

[2015-02-23 17:20] ramirezg commented on #526
@cmc333333 do you know if you can use contenteditables in forms without javascript?

[2015-02-23 18:51] ramirezg opened #536 "Build API endpoint to quickly populate contact form"
The [FOIA Contact Updater app](https://github.com/18F/foia_contacts) uses the contacts API to populate its form. Unfortunately, since the design requires us populate contact information for both agencies and their offices on one page, the updater has to hit both Agency and Office endpoints. Hence, populating agencies like the DoD takes a while.

Ideally we would have an endpoint with the specific

[2015-02-23 18:58] rjmajma commented on #508
Hey, can we close this @ericadeahl @vz3?

[2015-02-23 19:26] ericadeahl commented on #508
Yes! Closing it.

[2015-02-23 19:26] #508 closed

[2015-02-23 20:59] vz3 commented on #531
These are all implemented on the redesign-working branch. The secondary search bar is going to take more time so I'll probably need to split that off into a separate issue.

[2015-02-23 22:17] ramirezg commented on #526
Do we want this functionality?
________
![screen shot 2015-02-23 at 5 16 06 pm](https://cloud.githubusercontent.com/assets/4596845/6338830/b0837788-bb7f-11e4-9d29-cee826753c35.png)

[2015-02-23 22:18] khandelwal commented on #526
No, because we'd always populate it with the latest data we have.

[2015-02-23 22:20] ramirezg commented on #490
Unfortunately, no. It's a permissions issues, which DevOps is working on. I've pasted the error backtrace in 18F/DevOps/issues/242

[2015-02-23 22:39] ramirezg commented on #521
@konklone I just checked the aws server. How is DJANGO_SETTINGS_MODULE set to `dev`, shouldn't it be on `production`?

[code]

[2015-02-23 22:44] konklone commented on #521
Not if we want to see stack traces when things fail. For _real_ production, yes we'd want this in production. For our staging server, it's helpful to leave it in development mode.

[2015-02-24 05:55] rjmajma opened #538 "QA Check"
I wanted to expand on the work done in #445 and take a look at the site as a whole. PR #537 fixes the things I could identify and work on. The following require fixes I can't implement.

Found a bug in the first reading room link for BSEE. Currently takes you to https://foia.18f.us/About-BSEE/FOIA/BSEE-FOIA-Reading-Room/.

![screen shot 2015-02-24 at 12 54 19 am](https://cloud.githubusercontent.co

[2015-02-24 05:58] rjmajma commented on #538
Additional bug found with CFTC. First link takes you to https://foia.18f.us/FOI/foiareadingrooms.

![screen shot 2015-02-24 at 12 58 25 am](https://cloud.githubusercontent.com/assets/3649037/6344029/45618710-bbc0-11e4-815a-44898754ae01.png)

[2015-02-24 06:01] rjmajma commented on #538
CEQ reading room links take you to the same location (not distinguished from proactive disclosure versus foia disclosure). http://www.whitehouse.gov/administration/eop/ceq/foia/readingroom

![screen shot 2015-02-24 at 1 00 54 am](https://cloud.githubusercontent.com/assets/3649037/6344044/9ce9330c-bbc0-11e4-9fd0-2ca8e4731b85.png)

[2015-02-24 06:02] rjmajma commented on #538
Same issue from above with DNFS. Also an error with the display of the first link. http://www.dnfsb.gov/foia-reading-room

![screen shot 2015-02-24 at 1 02 14 am](https://cloud.githubusercontent.com/assets/3649037/6344055/cb019d38-bbc0-11e4-942f-7fd4d64831a5.png)

[2015-02-24 06:05] rjmajma opened #539 "Consolidate EPA landing pages?"
Two issues pop up with the EPA on the Hub. The first is that we show a list of regional offices that all go to the same location: FOIA Online. Since there is no difference to the user experience, why not consolidate all of these into one main EPA landing page?

If for some reason we keep this, we should consider fixing the way this is listed. Region 10 should go at the end, not after Region 1.

![

[2015-02-24 06:08] rjmajma commented on #538
EPA's reading rooms are a bit of a mess. Some regional offices have a few broken links. Consolidating this per #539 may help. Either way, they should not link to http://www2.epa.gov/foia. They should link to FOIA Online, as that's where the library is.

[2015-02-24 06:10] rjmajma commented on #538
EXIM links to the wrong website location. This is where it should go: http://www.exim.gov/about/library/foia/

![screen shot 2015-02-24 at 1 10 47 am](https://cloud.githubusercontent.com/assets/3649037/6344124/fb521aca-bbc1-11e4-8039-b192e1220f93.png)

[2015-02-24 06:15] rjmajma commented on #538
FSCIC also repeats.

![screen shot 2015-02-24 at 1 15 33 am](https://cloud.githubusercontent.com/assets/3649037/6344156/adbb4fb0-bbc2-11e4-82f7-303c8a1d6ca7.png)

[2015-02-24 06:19] rjmajma commented on #538
FEMA's FOIA page is broken. It's listed correctly, just doesn't work. Thoughts?

Also, the request page is incorrect. It should send here: https://www.fema.gov/submit-foia-request-nac-information

![screen shot 2015-02-24 at 1 18 46 am](https://cloud.githubusercontent.com/assets/3649037/6344178/1cb13aba-bbc3-11e4-96ea-f92669886cc7.png)

[2015-02-24 06:19] rjmajma commented on #538
FERC's submit link is incorrect. I believe it should send here: http://www.ferc.gov/legal/ceii-foia/foia/foia-new-form/FOIARequest.aspx

![screen shot 2015-02-24 at 1 19 46 am](https://cloud.githubusercontent.com/assets/3649037/6344189/3c604ca2-bbc3-11e4-8230-cf5309b7312d.png)

[2015-02-24 06:23] rjmajma commented on #538
FLETC library has two links (both of which are broken. Not our mistake).

![screen shot 2015-02-24 at 1 23 41 am](https://cloud.githubusercontent.com/assets/3649037/6344242/cc26cece-bbc3-11e4-936a-ef2730d363ce.png)

[2015-02-24 06:26] rjmajma commented on #538
FOMC "Reading Rooms" link should be removed. Each link takes you to the same page. What's most useful is to keep the other two links because they at least take you to their respective spots on the same FOMC page.

![screen shot 2015-02-24 at 1 26 38 am](https://cloud.githubusercontent.com/assets/3649037/6344282/34646be0-bbc4-11e4-949d-544b0a94461a.png)

[2015-02-24 06:27] rjmajma commented on #538
FTC reading room has duplicates. Remove the last link.

![screen shot 2015-02-24 at 1 27 41 am](https://cloud.githubusercontent.com/assets/3649037/6344295/58559e98-bbc4-11e4-96ef-4a2ca7b39d45.png)

[2015-02-24 06:29] rjmajma commented on #538
FLRA Dallas and Denver regional offices have the same email address. Not sure if this is correct. Can you do a quick spot check @ramirezg?

[2015-02-24 06:29] cmc333333 commented on #526
@ramirezg - I think you could turn it on (just add the contenteditabe=true attribute), but then you'd never be notified when changes are made. You could try making a form and giving a div a "name" attribute, but I don't think that'd work.

The way I understand it, you add event listeners on `blur` and `focus` events for when the user exists/enters the block of content. Does that make sense?

[2015-02-24 06:32] rjmajma commented on #538
JPL site link should be fixed to send the user here: http://www.fmcs.gov/internet/itemDetailNoNav.asp?categoryID=90&itemID=16303

![screen shot 2015-02-24 at 1 31 54 am](https://cloud.githubusercontent.com/assets/3649037/6344319/eeb8ef66-bbc4-11e4-8bf6-ee676582eee6.png)

[2015-02-24 06:33] rjmajma commented on #538
Marine Corps reading room links are labeled differently but take you to the same place.

![screen shot 2015-02-24 at 1 33 24 am](https://cloud.githubusercontent.com/assets/3649037/6344335/25f4f556-bbc5-11e4-8885-c64aa8bbd080.png)

[2015-02-24 06:35] cmc333333 commented on #521
Mmmm. That seems weird, @konklone . I've always interpreted "staging" as "production without users". Stack traces should be present in logs (including in production); if you want to view a stack trace through the web UI, why not recreate the error locally (where `DEBUG` is on)?

[2015-02-24 06:48] rjmajma commented on #538
NTSB FOIA library link is incorrect. It ends with .html but should be: http://www.ntsb.gov/about/foia/Pages/foia_err.aspx.

The main site link has a similar problem and should go here: http://www.ntsb.gov/about/foia/Pages/default.aspx

![screen shot 2015-02-24 at 1 47 48 am](https://cloud.githubusercontent.com/assets/3649037/6344494/2be4ca98-bbc7-11e4-80ae-2996b67a2964.png)

[2015-02-24 06:49] rjmajma commented on #538
NSA email duplicated for some reason. One should be removed.

![screen shot 2015-02-24 at 1 48 50 am](https://cloud.githubusercontent.com/assets/3649037/6344503/5324a376-bbc7-11e4-8e48-44f35a8be03b.png)

[2015-02-24 06:49] rjmajma commented on #538
NRO email is duplicated as well. One should be removed.

![screen shot 2015-02-24 at 1 49 28 am](https://cloud.githubusercontent.com/assets/3649037/6344505/695987ba-bbc7-11e4-9c55-44045e7ce9a7.png)

[2015-02-24 06:52] rjmajma commented on #538
NHTSA request online link should be removed. The agency has no web form (that I have found) and it only provides information on how to email/write the agency.

![screen shot 2015-02-24 at 1 52 41 am](https://cloud.githubusercontent.com/assets/3649037/6344532/d5e2868e-bbc7-11e4-8895-1a3b85602cfc.png)

[2015-02-24 06:57] rjmajma commented on #538
NARA has a few weird points. The true regional offices do not have reading room links. We should consider adding them.

Another issue is that Accessioned Executive Branch Agency Records - Washington, DC Area, Main Office, and OIG both have two reading room links that take you to the same place. One should be removed.

![screen shot 2015-02-24 at 1 56 52 am](https://cloud.githubusercontent.com/asse

[2015-02-24 15:25] ericadeahl commented on #497
victor's quick wireframes based on our group sketch session:

![home](https://cloud.githubusercontent.com/assets/5911280/6352262/396ca152-bbf6-11e4-8df9-0a4c475f0557.png)

![search results](https://cloud.githubusercontent.com/assets/5911280/6352268/3f3fb0c4-bbf6-11e4-8726-b2ac405a898a.png)

![desktop hd 3](https://cloud.githubusercontent.com/assets/5911280/6352276/441c2938-bbf6-11e4-82a9-a9d5842b6

[2015-02-24 15:29] ericadeahl commented on #497
More detailed UI for the search results:

![search results 2](https://cloud.githubusercontent.com/assets/5911280/6352300/6f8f4136-bbf6-11e4-9e9d-1d2696645eda.png)

completed search terms:

![search results 3](https://cloud.githubusercontent.com/assets/5911280/6352310/84eecc04-bbf6-11e4-940c-2a3ecc7623b4.png)

alternate table option (makes it easier to browse many documents quickly, but you must cl

[2015-02-24 15:32] ericadeahl commented on #401
For now, let's use a simple Proxima wordmark and revisit logo design.

I like openFOIA as a wordmark on its own but, thinking about how the mark would evolve, prefer the simplicity of Open FOIA or OPEN FOIA. Let's discuss.

![screen shot 2015-02-24 at 7 10 18 am](https://cloud.githubusercontent.com/assets/5911280/6351922/401a91b4-bbf4-11e4-900b-515725ebc2f5.png)

![screen shot 2015-02-24 at 7 07 3

[2015-02-24 15:36] rjmajma commented on #401
Great stuff! I really like the top right one (openFOIA in blue and charcoal).

[2015-02-24 15:40] ramirezg commented on #538
@rjmajma Nice catch noticing that the FLRA Dallas and Denver regional offices have the same email. This is actually an error on foia.gov, which we can fix in the manual data.

[2015-02-24 15:50] ramirezg commented on #538
wait, why should JPL link to FMCS?

[2015-02-24 15:51] ramirezg commented on #538
@rjmajma I'll look into this.

[2015-02-24 15:54] ramirezg commented on #538
@rjmajma I think the form pops up when you click `here` it's just not very descriptive though.

![screen shot 2015-02-24 at 10 53 24 am](https://cloud.githubusercontent.com/assets/4596845/6352825/61469d46-bc13-11e4-9ae7-9aabc64ad357.png)

[2015-02-24 15:58] rjmajma commented on #538
Hey @ramirezg:

Wrong link to JPL. It should be this: http://www.hq.nasa.gov/office/pao/FOIA/jpl/index.htm. I'll fix in the comment as well.

That's a shame about NHTSA. Keep it.

[2015-02-24 16:31] #491 closed

[2015-02-24 16:37] khandelwal commented on #501
Are all the checkboxes done?

[2015-02-24 16:54] jtag commented on #401
Moi aussi. Clean and can build on later.

On Tuesday, February 24, 2015, Raphael Majma <notifications@github.com>
wrote:

--
Jesse Taggert
Product Strategy, User Experience & Design
18F.gsa.gov

[2015-02-24 17:26] khandelwal commented on #486
We've created a first pass at the independent library. We're now working on using it and integrating it with Krang, but I feel like that's a separate issue.

[2015-02-24 17:26] #486 closed

[2015-02-24 18:07] khandelwal commented on #489
Buckets don't have the right permissions.

[2015-02-24 18:26] rjmajma opened #542 "Discuss #497 as a team"
Determine what we are able to actually do in the wireframes.

#497

[2015-02-24 18:26] #497 closed

[2015-02-24 18:26] #495 closed

[2015-02-24 18:30] rjmajma commented on #481
This experiment didn't work. Closing this for now.

Other possible attempts can be:
 - Offer agencies a reading room on our site
 - Publicize on our site that we are accepting documents

[2015-02-24 18:31] #481 closed

[2015-02-24 18:37] #430 closed

[2015-02-24 18:38] konklone commented on #401
Me too, the blue and charcoal in the top right. =)

[2015-02-24 18:38] rjmajma commented on #401
Closing issue. Team decided with the top right one.

[2015-02-24 18:38] #401 closed

[2015-02-24 18:38] rjmajma opened #543 "Discuss #497 as a team"
Determine what we are able to actually do in the wireframes.

[2015-02-24 18:39] rjmajma opened #544 "Implement new wordmark"
New wordmark is available in #401. Should implement the new wordmark on the current site.

[2015-02-24 18:55] ramirezg commented on #501
@khandelwal Actually looking back at this everything is documented here:
https://github.com/18F/foia-hub/blob/master/cloudfoundry.md

[2015-02-24 19:02] ramirezg commented on #538
@khandelwal I see that you're assigned to this issues, but I have some time today so I can take care of the following:
- [ ] fix the emails for the FLRA Dallas and Denver regional offices
- [ ] update the FERC's submission link
- [ ] remove duplicate emails
- [ ] fix the JLP office url

[2015-02-24 19:06] konklone commented on #501
Yes, but we're not all the way onto Cloud Foundry yet.

[2015-02-24 19:25] khandelwal commented on #538
Figure out how the duplicate emails get in there, and ensure that the software doesn't let that happen again. I'm guessing we don't check to see if it's already in there somewhere.

[2015-02-24 20:23] ramirezg opened #545 "Duplicate elements"
For example, NASA Shared Services Center (NSSC)
[Migration 0018](https://github.com/18F/foia-hub/blob/master/foia_hub/migrations/0018_delete_office_dups.py) should take care of this issue. We might need to run it again on the server.

![test](https://cloud.githubusercontent.com/assets/4596845/6358419/5a72593a-bc39-11e4-95b3-aa594ef0b4b8.png)

[2015-02-24 20:31] ramirezg commented on #538
Ok, took care of the issues here 18F/foia/pull/104 and found the source of the email dups. I'm updating the contacts now.

[2015-02-24 21:44] konklone opened #546 "Make Cloud Foundry app respond to custom domain name"
Using `/etc/hosts` if necessary, make the app in Cloud Foundry respond to a custom domain name, not a `*.18f.us` subdomain.

[2015-02-24 21:45] konklone opened #547 "Get TLS certificate in place"
Purchase a TLS certificate, upload it to Amazon Web Services, and have our Cloud Foundry set up use it to serve the application.

[2015-02-24 21:46] konklone opened #548 "Make our contact data the primary dataset"
Once we decide we never will scrape FOIA.gov ever again, we can "re-flash" our dataset. We can remove the "manual overlay" stuff, remove the scrapers, and simplify the data management code considerably.

[2015-02-24 21:59] ramirezg opened #550 "Load Agency Contacts Function Update"
`load_agency_contacts.py` needs to have a `delete_unused_contacts` function to get ride of duplicates created when the data shift around.

[2015-02-24 22:49] khandelwal commented on #550
I'm not sure that's quite right. I think we should ensure duplicates never enter the dataset. Not clean them up afterwards.

(I know we might have to clean them up once).

[2015-02-24 22:53] konklone commented on #547
This will be done strictly in Amazon Web Services, used by an ELB (in the CF VPC) that we configure ourselves. Cloud Foundry itself won't play a role in the HTTPS termination.

[2015-02-24 22:59] ramirezg commented on #550
You're right, but I'm referring to another issue. Sometimes elements like NASA Shared Services Center (18F/foia-hub/issues/545 ) enter the database one way and then another way after we clean up the yaml files. Currently migration 0018 takes care of these instances, but we can't keep running it again when we are in production.

[2015-02-24 23:53] konklone commented on #543
Dupe of #542.

[2015-02-24 23:53] #543 closed

[2015-02-25 16:39] khandelwal commented on #550
There's no reason to keep updating the database. When we get a new dataset, we should just wipe the database clean and start again. It's a reproducible dataset and there's no reason to add fancy logic.

[2015-02-25 16:43] khandelwal commented on #545
If we wipe the database clean and reload the data, does that fix it?

[2015-02-25 16:43] ramirezg commented on #550
@khandelwal so I was thinking about this yesterday. Resetting the database might be okay for now, but what about when the Agency and Office models are connected to the document models?

[2015-02-25 16:45] khandelwal commented on #539
I think we have to stick to how they report the data etc. on foia.gov. That way we're always consistent.

[2015-02-25 16:46] khandelwal commented on #539
We should probably properly sort the offices.

[2015-02-25 16:49] khandelwal commented on #550
Ok, let's open this for discussion.

[2015-02-25 16:53] khandelwal commented on #435
This has been fixed.

[2015-02-25 16:53] #435 closed

[2015-02-25 16:54] khandelwal commented on #411
Let's figure out if this can be closed or if there is pending work.

[2015-02-25 17:01] khandelwal commented on #418
Can this be closed?

[2015-02-25 17:03] ramirezg commented on #526
@cmc333333 sort of. Do you mean change css to make the inputs look like contenteditabe. ie set `input:focus` for the forms etc. ?

I think the whole point of using contenteditabe was to make the form look a little nicer, but it seems that there isn't really a good way make contenteditabes work with django form validations.

[2015-02-25 17:57] #418 closed

[2015-02-25 17:57] konklone commented on #418
Yep.

[2015-02-25 18:21] konklone opened #551 "Create an RDS instance within the CF VPC"
We'll use RDS for Postgres. We'll need to create an RDS instance inside the **Cloud Foundry VPC**, and provide the connection string to the app.

[2015-02-25 18:21] konklone opened #552 "Move from local Postgres to an RDS server"
A preliminary step before #551:

- [x] Create an RDS server in the existing `foia` VPC.
- [ ] Move the app to use it.

This will flush out any possible errors or work we have to do to move from local PG to an RDS-based PG.

[2015-02-25 18:23] konklone opened #553 "Create ELB for FOIA in the CF VPC"
We'll terminate HTTPS on an ELB that forward (over HTTP) to the Cloud Foundry router, inside the same VPC. We need to create that ELB ourselves, and configure its ports.

[2015-02-25 18:23] konklone opened #554 "Create hosted zone in Route 53"
For our new .gov domain, and point the domain to the ELB created in #553. Does not require external collaboration or approval.

[2015-02-25 18:24] rjmajma opened #555 "Implement Small Search Box"

[2015-02-25 18:25] konklone opened #556 "Set up error monitoring"
This can be done in one of two ways:

* New Relic application monitoring - we add a New Relic Python or Django module to our application, and use it to report 404/500/custom/etc to New Relic.
* "Traditional" or other error monitoring - straight emails, or another services besides New Relic.

cc @afeld, who is working on New Relic stuff (Aidan, I'm syncing the FOIA-owned tasks to our team's issue t

[2015-02-25 18:27] konklone opened #557 "Change data loading task to check out data on demand"
The `load_agency_contacts` task should perform a `git clone` on every run (deleting any existing repo if it exists), so it can count on the contact data being there.

[2015-02-25 18:28] konklone opened #558 "Decide how data loading will automatically occur"
Either:

- [ ] A hook-based approach, when the data repo changes.
- [ ] A cron-based approach, meaning a scheduled task inside Cloud Foundry.

Decide which it will be. This is not strictly necessary for launch. We can do manual data loads for a little while.

[2015-02-25 18:28] ericadeahl opened #559 "First pass at design of Search, Search Results, Document Viewing"

[2015-02-25 18:29] konklone opened #560 "Application should be able to force an HTTPS redirect"
We should be able to enforce HTTPS in our production environment, at the application level.

We also may need to add the HSTS header at this level.

[2015-02-25 18:30] #545 closed

[2015-02-25 18:32] rjmajma opened #561 "Reading Room Code Check"

[2015-02-25 18:35] khandelwal commented on #510
We are going to be purchasing Proxima and it will be self-hosted.

[2015-02-25 18:36] khandelwal commented on #510
- [ ] Buy the font
- [ ] Host the font

[2015-02-25 18:37] #494 closed

[2015-02-25 18:37] rjmajma opened #562 "Buy + Host Proxima"
Proxima will be bought and hosted by us.

[2015-02-25 18:38] rjmajma commented on #510
Created a new issue #562 for Shashank's last comment.

[2015-02-25 18:38] #510 closed

[2015-02-25 18:38] #447 closed

[2015-02-25 18:39] rjmajma opened #563 "Implement New Favicon"

[2015-02-25 18:40] #414 closed

[2015-02-25 18:41] khandelwal commented on #411
There are issues.

[2015-02-25 18:42] rjmajma commented on #411
Issues are with typeahead. When users click on something, it should let them go to the appropriate landing page.

cc @vz3

[2015-02-25 18:43] afeld commented on #556
Per [a DevOps discussion](https://github.com/18F/DevOps/issues/160#issuecomment-75817891), we should now be able to monitor as many applications in New Relic as we need. Happy to try following [the setup instructions](https://docs.newrelic.com/docs/agents/python-agent/getting-started/new-relic-python) myself in the next few days if y'all are busy w/ other stuff, or feel free to give it a shot.

[2015-02-25 18:43] #338 closed

[2015-02-25 18:43] afeld commented on #556
...especially if you have more experience w/ FOIA/Python than I do.

[2015-02-25 18:44] konklone opened #564 "Stabilize the daemonization process for the staging site"
It's been going down pretty easily on pressure, because of the janky `nohup` approach we took on daemonization of waitress/foreman.

We should use a supervisord, upstart, or other form of process management instead.

[2015-02-25 18:49] rjmajma commented on #317
@ramirezg has decided that we are sticking with the median.

We may change the context for this depending on user feedback.

[2015-02-25 18:49] #317 closed

[2015-02-25 18:51] rjmajma commented on #230
Per @ramirezg, the data we need isn't there.

[2015-02-25 18:51] #230 closed

[2015-02-25 18:53] rjmajma commented on #198
I'll look into seeing what needs doing here.

At a minimum, we want some language that states the information is accurate to the best of our knowledge.

[2015-02-25 18:53] konklone commented on #557
Dupe of #511.

[2015-02-25 18:53] #557 closed

[2015-02-25 18:59] rjmajma commented on #562
After this is bought, someone else will need to help to host it.

[2015-02-25 19:00] khandelwal commented on #560
Do this at the application layer.

[2015-02-25 19:01] khandelwal commented on #556
@ramirezg will work with @afeld

[2015-02-25 19:04] rjmajma commented on #542
Creates a dependency for #559.

[2015-02-25 19:05] konklone commented on #554
I've created a public hosted zone for **open.foia.gov** in Amazon Route 53.

The 4 relevant nameservers for this hosted zone are:

[code]

These 4 addresses should be sent to the foia.gov DNS team, and they should set an `NS` record for each one of them.

[2015-02-25 19:05] #554 closed

[2015-02-25 19:07] rjmajma commented on #411
Closing. Will add this to QA testing.

[2015-02-25 19:07] #411 closed

[2015-02-25 19:09] rjmajma commented on #552
Must be done after #551.

[2015-02-25 19:09] khandelwal commented on #551
Depends on #552

[2015-02-25 19:23] ericadeahl commented on #467
personas are here: https://mural.ly/t/gsa6/m/gsa6/1423515818233

![screen shot 2015-02-25 at 11 22 28 am](https://cloud.githubusercontent.com/assets/5911280/6378503/acd892dc-bce0-11e4-90d5-07244590764a.png)

[2015-02-25 19:23] #467 closed

[2015-02-25 19:24] ericadeahl commented on #443
Personas are here: https://mural.ly/t/gsa6/m/gsa6/1423515818233

![screen shot 2015-02-25 at 11 22 05 am](https://cloud.githubusercontent.com/assets/5911280/6378519/ce43d40e-bce0-11e4-8595-4713cd127abf.png)
![screen shot 2015-02-25 at 11 22 37 am](https://cloud.githubusercontent.com/assets/5911280/6378523/d4564160-bce0-11e4-9a92-ba55f4f9db25.png)

[2015-02-25 19:24] #443 closed

[2015-02-25 20:54] ramirezg commented on #550
One possible solution for deleting agency contacts. 18F/foia-hub/pull/565

I'm thinking if we want to clear the data we could drop all the elements except the scaffolding elements like `slug`, `name`, `parent`, `parent_id`, `id`, that way any foreign keys connecting to these elements won't be broken.

[2015-02-25 21:10] afeld commented on #556
* [ ] Create a FOIA subaccount in New Relic – @dlapiduz

[2015-02-25 21:15] khandelwal commented on #443
These are fantastic.

[2015-02-25 21:41] afeld commented on #556
@dlapiduz created the account in New Relic – DM me on Slack if you don't have access but want it.

[2015-02-25 22:23] jtag commented on #467
awesome!

On Wed, Feb 25, 2015 at 2:23 PM, Erica Deahl <notifications@github.com>
wrote:

--
Jesse Taggert
Product Strategy, User Experience & Design
18F.gsa.gov

[2015-02-26 06:47] cmc333333 commented on #526
@ramirezg : no I mean listening for JS events. E.g. w/ jquery:
[code]

Keep in mind that django form validation doesn't require an HTML form -- you could pass everything as JSON over AJAX, for example. You could also use JS to set values on a traditional HTML form and submit that, if that's your fancy. IIRC, Sir Trevor's django instance waits until you click submit, at which point it fires an even

[2015-02-26 18:36] cmc333333 commented on #551
Doesn't cloud foundry have a resource/module/whatever that does this for you? @dlapiduz

[2015-02-26 18:52] dlapiduz commented on #551
@cmc333333 there is a system to do this kind of stuff, we haven't built an adapter for RDS yet

[2015-02-27 19:06] #501 closed

[2015-02-27 19:30] ramirezg commented on #561
@khandelwal I think I found part of the problem in the load_agency_contacts function.

[2015-02-27 19:43] #546 closed

[2015-02-27 23:11] ramirezg opened #571 "Update Doc Processing Toolkit work with excel/csv"

[2015-03-01 20:51] khandelwal commented on #556
Looks like the list isn't done.

[2015-03-02 15:32] khandelwal commented on #561
So, a number of reading room problems showed up because previous reading rooms that were meant to be deleted in a subsequent add weren't because of the way the loading code worked.

I've re-worked the way ReadingRooms are stored to make it easier to update them.

[2015-03-02 15:36] khandelwal opened #576 "Create an updated system diagram"
We're doing a whole bunch of devops related tasks, that came out of a meeting with the FOIA team and folks responsible for devops.

It appears that the suggested architecture of our application has changed from what was diagrammed in early days. (For example, we're now talking about ELBs - and we weren't before).

Let's get a new diagram together, so that we can better understand what's happening

[2015-03-02 15:51] rjmajma commented on #576
I'd like to add this to the current sprint. I don't know if we have to have this for the current ATO authority we'll be operating under, but this kind of documentation will be helpful for understanding how our system works

[2015-03-02 15:53] khandelwal commented on #576
This has been added to the current sprint, and assigned to the person who has the most knowledge of the updated system architecture.

[2015-03-02 15:58] #550 closed

[2015-03-02 16:10] #561 closed

[2015-03-02 17:13] rjmajma commented on #542
We discussed this Friday afternoon. It was super productive. We decided to:
- Create a set of wireframes that would cover documents that do not contain a substantive amount of associated metadata. This would be require us to adjust the most recent wireframes from #497.

Is this correct, @ericadeahl?

[2015-03-02 17:49] ericadeahl commented on #542
@rjmajma Yes! We will adjust the wireframe/design to accommodate both documents that do not have title/date/metadata and documents that do. I'll post updated work in #559.

There was also an unresolved question from @khandelwal about our strategy for obtaining new documents and how it would affect the questions we want answered in testing. We discussed two options - to focus on collecting document

[2015-03-02 18:29] ramirezg commented on #556
@afeld so I started New Relic on the server. It says it's running, but no data appears to be getting through.  (https://rpm.newrelic.com/accounts/909294/applications/5181761)

[2015-03-02 18:33] konklone commented on #556
New Relic shouldn't need to be running as a daemon on the server - we're only using application monitoring, not server monitoring, right?

[2015-03-02 18:35] ramirezg commented on #536
I actually think we don't need this. Using the api resources directly make the updates quick. These pages also won't be highly trafficked.

[2015-03-02 18:35] #536 closed

[2015-03-02 18:37] vz3 commented on #466
Notes from the review:

[code]

[2015-03-02 18:39] vz3 commented on #466
Issues
- [ ] Color Contrast
- [ ] Placeholder text in search box
- [ ] Give your tabs a role='tab' and the active one aria-selected='true'
- [ ] Add a skip nav link to the beginning of the page, see http://18f.github.io/accessibility/links/
- [ ] For your anchor links, give their targets a tabindex='-1' so when you're using a keyboard, you can select one then continue tabbing from that point. (a-z

[2015-03-02 18:40] vz3 opened #578 "Address issues from 508 check"
Address issues from initial 508 check

Issues
- [x] Color Contrast
- [x] Placeholder text in search box
- [x] Give your tabs a role='tab' and the active one aria-selected='true'
- [x] Add a skip nav link to the beginning of the page, see http://18f.github.io/accessibility/links/
- [x] For your anchor links, give their targets a tabindex='-1' so when you're using a keyboard, you can select one then

[2015-03-02 18:42] khandelwal commented on #578
Can we do this in the current sprint? Especially since we have additional help now?

[2015-03-02 18:43] rjmajma commented on #536
Do you agree, @khandelwal?

[2015-03-02 18:46] khandelwal commented on #536
Yeah, I think that's fine.

[2015-03-02 19:07] afeld commented on #556
New Relic monitoring on Cloud Foundry won't be as relevant, so that seems like a good plan to me.

Weird. Getting any warning as the application restarts? Feel free to catch me on Slack and we can debug.

[2015-03-02 19:40] ramirezg commented on #556
@konklone @afeld : The issue is the high security settings

[code]

But it seems that `Only the account owner can enable enterprise security mode.`

[2015-03-02 20:08] konklone commented on #556
Yep, that looks right. I'm in support of turning that on. I'll raise it with DevOps.

![screenshot from 2015-03-02 15 05 10](https://cloud.githubusercontent.com/assets/4592/6449255/8abd0f78-c0ed-11e4-829f-05be62f1cd7f.png)

[2015-03-02 20:34] rjmajma commented on #542
I think intake strategy will be an ongoing issue. I'll leave it to @khandelwal on whether we make it its own separate issue or just continue working on it as we have been.

That being said, I think the goal of this sprint has been closed out.

[2015-03-02 20:34] #542 closed

[2015-03-02 20:58] konklone commented on #556
@ramirezg @afeld I'm told that high security mode is now enabled for the FOIA subaccount on New Relic. Give it a go?

[2015-03-02 21:34] vz3 commented on #578
Added to sprint

[2015-03-02 22:30] khandelwal commented on #552
I was able to setup an RDS instance with my personal RDS, and connect to it and run the application. No application changes were required - which is what everyone said and I didn't believe them.

Good news.

Now I'll need to create an RDS instance in the existing VPC for Cloud Foundry.

[2015-03-02 22:36] ramirezg commented on #556
@konklone @afeld looks like it's up and running with high security. I think we just need to incorporate it into the fab script now.
![screen shot 2015-03-02 at 5 35 18 pm](https://cloud.githubusercontent.com/assets/4596845/6452266/8b75a58c-c102-11e4-892a-75d04252f1b2.png)

[2015-03-02 23:15] konklone commented on #556
Sorry, I still don't understand why we need to incorporate anything into the fab script, or why anything needs to be running on the server. We're only doing application monitoring, not server monitoring. So, any errors can be reported in-process by using a Python library that talks directly to the New Relic servers.

In any case, our use of `fabric` is coming to a close pretty soon. We should limi

[2015-03-02 23:27] vz3 opened #579 "Search results should show up even if <=1 results returned"
This was an experiment, but consensus is that it's a confusing interaction.

1. User on home page enters "FBI"
2. User is brought to search results page with 1 result.

[2015-03-02 23:29] vz3 opened #580 "Breadcrumbs should output current page name and URL"
Currently breadcrumbs only output parent pages. They should be changed to output the current page as well.

[2015-03-02 23:36] ericadeahl commented on #520
Null search results page styling (matches styling from search results.) It would be nice to add suggestions of things people can search for, but I don't think we need to prioritize that for this sprint - let's just hit styling for now.

![foia_nullsearchresults](https://cloud.githubusercontent.com/assets/5911280/6453259/005a79d4-c0f1-11e4-98bd-d05b48639bca.png)

[2015-03-03 00:16] ramirezg commented on #556
@konklone sorry, I should have been clearer. I just wanted to make sure that the `NEW_RELIC_LICENSE_KEY` was in the `foia-env` file so it gets picked up when we deploy.

[2015-03-03 00:18] vz3 commented on #532
I think I've got the last two about right, but let's chat tomorrow when I can get your eyes on it @ericadeahl

[2015-03-03 00:45] khandelwal commented on #552
I've created an RDS instance in Cloud Foundry. It's a 'staging' instance so that we can try connecting to it, etc. Moving the app to it is simply a case of setting up the write database url in the .env when we deploy to Cloud Foundry. This is ready to be closed.

@konklone How are we managing that .env file for Cloud Foundry? Is there something else you need me to do.

[2015-03-03 01:51] konklone commented on #552
Cloud Foundry (and Heroku) both keep environment variables in their own system, and you set them by running a command like `cf set-env` on each environment variable.

The `.env` file is only used for local development -- in effect, to simulate your app's production environment.

[2015-03-03 01:51] #552 closed

[2015-03-03 01:52] konklone commented on #556
Ahhh yes, totally. Thanks for clarifying.

[2015-03-03 15:58] khandelwal commented on #580
Can you provide more detail here? What is the current state, and what do want it to look like when it's done?

[2015-03-03 15:59] khandelwal commented on #579
Can you provide more detail? What does it do now? What do you want it to do?

[2015-03-03 16:02] khandelwal commented on #562
- [ ] buy
- [ ] host

[2015-03-03 16:03] khandelwal commented on #490
How are we doing with permissions? Is this resolved?

[2015-03-03 16:03] rjmajma commented on #562
It's been bought! We're currently checking on some legal issues to determine how/where we can host it within our architecture.

[2015-03-03 16:06] khandelwal commented on #551
Per #552 this is done for staging. Once everything is hooked up and working we can do a production instance.

[2015-03-03 16:06] #551 closed

[2015-03-03 16:08] khandelwal commented on #564
Is this fixed?

[2015-03-03 16:10] vz3 commented on #579
Above is what I want it to do. Currently if user enters a query with 1 result they are brought to the landing page of that result.

[2015-03-03 16:13] vz3 commented on #580
…the current state is that  breadcrumbs only output parent pages.

The desired state is that the current page is output.

i.e. for "Understanding FOIA", breadcrumb currently outputs:
[Home >](#)

It should output:

[Home] > Understanding FOIA

[2015-03-03 16:19] vz3 commented on #555
Perhaps @shawnbot can take this after 508 tasks. Comp for the small search box can be found here:
https://github.com/18F/foia-hub/issues/393#issuecomment-70010043

This is much lower priority than 508.

[2015-03-03 16:26] #526 closed

[2015-03-03 16:37] ramirezg opened #581 "UX/Front-end help for contact-updater"
Forms for pages like DoD are too long and look terrible.
https://foia.18f.us/contact_updater/department-of-defense
The contact updater needs a UX/front-end makeover.

[2015-03-03 16:43] konklone commented on #562
Confirmed that GitHub is a no-go. We can put it in the S3 hosting bucket for the rest of our static assets, and manage it there. Since we're instrumenting that bucket automatically, we'll probably want a backup copy of the font elsewhere that 18F can access, like GSA's GDrive or an additional S3 bucket.

[2015-03-03 16:44] konklone commented on #562
We'll also want to change the link to the font in our template code to always point to the S3 bucket, even when in development. So the steps remaining are:

- [ ] Put in FOIA assets bucket
- [ ] Back it up somewhere, or confirm it's already backed up
- [ ] Update template to point to the public URL for it

[2015-03-03 16:45] konklone commented on #564
Yes, with #572.

[2015-03-03 16:45] #564 closed

[2015-03-03 16:46] dlapiduz commented on #551
@cmc333333 there is a "services" concept but we haven't built the service to spin up RDS instances yet.

[2015-03-03 17:09] ramirezg commented on #490
@khandelwal So we've both tested s3 for Krang on our personal accounts, but my permission are more restricted than ever now.
![screen shot 2015-03-03 at 12 06 22 pm](https://cloud.githubusercontent.com/assets/4596845/6467684/e1431940-c19d-11e4-94d4-5e52c9297710.png)

If we need to, we can just use @konklone's credentials for deployment.

[2015-03-03 18:40] vz3 opened #582 "Search field placeholder text is longer than field in mobile"
In mobile, perhaps the placeholder should change to a shorter string. Or as a part of our 508 work which defines placeholders as inadequate field labels, we can use a label that's outside of the field.

![screen shot 2015-03-03 at 1 39 22 pm](https://cloud.githubusercontent.com/assets/582918/6469465/bc1b5f3a-c1aa-11e4-8310-e310dc0e773b.png)

[2015-03-03 20:27] ramirezg opened #584 "Setup service account for s3 buckets and credentials."
We'll need a service account + credentials to run Krang.

[2015-03-03 20:51] ramirezg commented on #571
18F/doc_processing_toolkit/pull/3

[2015-03-03 21:32] shawnbot opened #585 "Test more things!"
We should do these manually for this sprint then figure out how to automate them:

- [ ] Cross-browser testing with [Sauce Labs] (and [Selenium])
- [ ] 508 compliance testing
- [ ] responsive CSS testing at common viewport sizes, either with:
  * [Selenium] tests, or
  * images generated at different breakpoints as a gut-check

[Sauce Labs]: http://saucelabs.com
[Selenium]: http://docs.seleniumhq.

[2015-03-03 21:46] adelevie commented on #585
Hmm, I haven't given much thought to Django integration. Does a Django test fail when something does an `exit(1)`? If so, integration shouldn't be too bad. pa11y is a command line tool (node-based), so it should be easy to shell out to. It also can output JSON and CSV files for a given page.

Usage here would be something like (forgive the non-ideal Python):

[code]

[2015-03-03 22:20] konklone opened #586 "CSRF cookies set without HttpOnly flag"
Reproducing @NoahKunin's issue, https://github.com/18F/DevOps/issues/259

[2015-03-03 22:22] konklone opened #587 "Restrict cookies to HTTPS only"
This is not strictly necessary, but another security issue @NoahKunin flagged in https://github.com/18F/DevOps/issues/260.

https://docs.djangoproject.com/en/1.6/ref/settings/#csrf-cookie-secure

[2015-03-03 22:23] konklone opened #588 "Consider a Content Security Policy"
(Originally mistakenly filed in https://github.com/18F/DevOps/issues/263. Not necessary for ATO/sprint.)

Something I don't have personal experience with, but which we should look at:

https://developer.mozilla.org/en-US/docs/Web/Security/CSP

It's a way for a site to tell a browser that various security properties should be enforced, like not allowing inline JavaScript, only allow includes from c

[2015-03-03 22:27] konklone commented on #490
@ramirezg This isn't fixed? I can resolve this at any point, we worked out a solution with @ozzyjohnson.

[2015-03-03 22:42] ramirezg commented on #490
@konklone we can close this ticket once we have the credentials from https://github.com/18F/foia-hub/issues/584 working

[2015-03-03 22:43] ramirezg opened #589 "Comprehensive list of requirements for CF"
https://docs.google.com/a/gsa.gov/document/d/1AQOknp55ONS0bPxFR5mt8GcJDtWvZwk8jr8fgrrXNt0/edit?usp=sharing

[2015-03-03 23:39] adelevie commented on #585
Is this something we should spin up vanilla AWS or Cloudfront? Or something
else?

On Tue, Mar 3, 2015 at 6:24 PM, Shawn Allen <notifications@github.com>
wrote:

[2015-03-03 23:41] adelevie commented on #585
I had some difficulty getting this set up locally, but I think this is what we want: https://github.com/nature/pa11y-webservice

[2015-03-04 00:58] shawnbot opened #592 "Remove <hr> elements"
I've seen a lot of these, and they're not good.

First of all, they're not styled, so in older browsers you're going to see something ugly with a faux-3d border effect. Secondly, they're purely presentational: they don't offer the document any semantic information.

Since `<hr>` elements are currently used to provide spacing between headings and sections, removing them is going to require tweaking

[2015-03-04 04:15] adelevie commented on #585
You could always re-write pa11y in Go and have it run anywhere. :trollface:

[2015-03-04 04:41] konklone commented on #589
What does this refer to?

[2015-03-04 15:19] khandelwal commented on #589
We're running around setting up things in AWS and Cloud Foundry. I think we should view the things we setup as 'staging' in the sense that we're setting up a staging environment while we figure everything out.

This issue is supposed to encapsulate all that activity into a single list so that we're ready to push to production. What are all the things we need to create or do, before we can say we'r

[2015-03-04 15:20] khandelwal commented on #589
What we have right now is an adhoc process. What we need is a more disciplined approach.

[2015-03-04 15:22] khandelwal commented on #592
Is this something you're working on doing right now? If so we can add this to the current sprint. If this is something you think can wait (maybe until after we release) - that's probably better as I think we'll find we're quite busy right now.

[2015-03-04 15:28] khandelwal commented on #586
Context:

This allows the cookie to be accessed by JavaScript. This doesn't matter given current functionality, but will be necessary once form submission is enabled. Seems smart to catch it now so we don't have to deal with it later.

Note that Django has a relatively new feature that allows you to do this.

I can't map out all the JS, so if it needs to be accessed, let me know what's up.

[2015-03-04 15:58] khandelwal opened #593 "Start a parallel domain name negotiation"
It's not clear if we'll get our current set of negotiations all worked out. Seems like there are two sticking points there: DNSSEC and glue records.

We should start talking to others to figure out where openFOIA can live. We've considered usa.gov (openfoia.usa.gov) but looking at the content on the site, what we have is a bit of deviation from the content that's there.

There's also the option of

[2015-03-04 15:59] khandelwal commented on #593
cc: @rjmajma

[2015-03-04 16:21] khandelwal opened #594 "Better 500, 404 error templates - Now frontend tweaks"
We need better 404 and 500 error templates. Here's what the pages look like currently:

![screen shot 2015-03-04 at 11 12 45 am](https://cloud.githubusercontent.com/assets/636752/6487513/97f744c4-c25f-11e4-9b33-ae4fc2b5d00e.png)

We might want to consider styling the 403, and 400 pages as well.

![screen shot 2015-03-04 at 10 49 57 am](https://cloud.githubusercontent.com/assets/636752/6487523/a792

[2015-03-04 16:29] khandelwal commented on #594
@ericadeahl I think this'll need to go to you first.

[2015-03-04 17:48] NoahKunin commented on #586
:+1:

[2015-03-04 18:51] vz3 commented on #562
The font file is archived on Gdrive/Designers/Fonts

[2015-03-04 18:51] vz3 commented on #562
I will update the template to add URL and remove all ref's to TypeKit. Please let me know when the file is in the bucket.

[2015-03-04 19:09] rjmajma commented on #500
We're going to close this in favor of implementing on openFOIA and using that for testing purposes.

[2015-03-04 19:09] #500 closed

[2015-03-04 19:15] #466 closed

[2015-03-04 19:15] rjmajma commented on #520
Implementing will be a separate ticket.

[2015-03-04 19:15] #520 closed

[2015-03-04 19:17] #531 closed

[2015-03-04 19:17] #532 closed

[2015-03-04 19:17] #533 closed

[2015-03-04 19:17] #534 closed

[2015-03-04 19:17] #535 closed

[2015-03-04 19:22] vz3 opened #596 "Search results should be sorted by relevance."
Current behavior: Search results are sorted alphabetically.

At the least, if the query appears in the name of the agency, it should be prioritized. Next priority should be description. Lowest is keyword.

[2015-03-04 19:24] vz3 opened #597 "Implement mobile nav"
Current behavior is that on mobile, the nav elements are the same as desktop.

On mobile, we should implement a hamburger or something similar.

[2015-03-04 19:34] konklone commented on #576
From @seanherron, something to work off of:

![pasted_image_at_2015_03_04_02_25_pm](https://cloud.githubusercontent.com/assets/4592/6491498/847ee80e-c27b-11e4-9684-d5a2d61cea32.png)

[2015-03-04 20:04] vz3 commented on #520
I'd like to see some more copy here. How can we help users get to where they're trying to go?

Perhaps below the above, we can put some copy along these lines:
`There are no results for your search. You can try searching again with a different query, or you can [browse our list of all federal agencies](#)."

[2015-03-04 20:15] rjmajma commented on #520
Here's what we did for FEC @vz3 and @ericadeahl. https://github.com/18F/openFEC/issues/306

[2015-03-04 21:09] konklone commented on #562
I can't find the file in GDrive - please share it with me and @ramirezg and @khandelwal and one of us can get it in the bucket.

But @vz3, you should get bucket access too, even if it doesn't happen for launch.

[2015-03-04 21:10] konklone commented on #589
`cloudfoundry.md`, in the project root, has lots of notes. @ramirezg started a GDoc based on some of it, and I've updated it. It should go back into this project, either as a replacement to `cloudfoundry.md` or as part of the README.

[2015-03-04 21:19] vz3 commented on #555
@shawnbot can you take this on after 508 stuff?

[2015-03-05 00:05] ericadeahl commented on #520
@vz3 i like your suggestion. Linking to the federal agencies page is simple but good.

I also like how FEC has that "still no luck? we're in beta, try fec.gov" disclaimer - but there's not really another place we can send people. Perhaps we could have a line that says something like "Still no luck? This site is in alpha. Help us improve by telling us what you're looking for" + link to About This P

[2015-03-05 00:29] ericadeahl opened #599 "Fix Second Pass UI Glitches - Global"
@vz3 @shawnbot  Here are the remaining things I noticed across the site. I'm splitting them into two issues - one with Global, and the other with Home, About This Project, and Agency Detail. I bolded the things I think are important; the others aren't critical.

**Global**

* [x] ~~in the navigation, change “Federal Agencies” to “Find a Federal Agency” so it matches the page title~~
* [x] **in the

[2015-03-05 00:41] ericadeahl opened #600 "Fix Second Pass UI Glitches - Home, About This Project, Agency Detail"
@vz3 @shawnbot  Here are the remaining things I noticed across the site. I'm splitting them into two issues - one with Global, and the other with Home, About This Project, and Agency Detail. I bolded the things I think are important; the others aren't critical.

**Home**

* [x] **add rollover color to the light blue search button: #0096B5**
* [x] add a little space under “FOIA-Hub jump starts…” an

[2015-03-05 00:42] ericadeahl commented on #599
By the way @vz3 it's looking awesome. These are small nitpicks.

[2015-03-05 01:37] ericadeahl commented on #559
@rjmajma @khandelwal @vz3 @ramirezg Here's a pass at Search Results and Document Viewing page. Thoughts?

**Search Results**
- You can do full text search, filter by agency, and filter by PDF/CSV
- Sorting is by Relevance or Date Released
- Displays 3 text excerpts with search terms separated by ellipses...
- Displays whatever metadata is available: Agency, format, date created, date released
- If

[2015-03-05 04:12] rjmajma commented on #520
That's a good point and a great suggestion, @ericadeahl. +1

[2015-03-05 15:28] khandelwal commented on #597
Looks like this would have two parts:

- [ ] Design a mobile nav
- [ ] Implement mobile nav

[2015-03-05 15:33] khandelwal commented on #599
If we change 'Federal Agencies' to 'Find a Federal Agency' would people expect that to go to a search? If people keep clicking on that, does that mean our search is marginalized?

Some options:

1. Change text to 'Federal Agencies List'
2. Include a search box at the top of the agencies list. You can search, or you can look at the list on the bottom.

There might obviously be other options. @erica

[2015-03-05 15:33] khandelwal commented on #599
Also, we added this to Sprint 15. Do we have the time to do this?

[2015-03-05 15:35] khandelwal commented on #589
Yeah, let's not store that list in a Google Doc. Add the steps into cloudfoundry.md - I don't think we need to hide any of the instructions.

[2015-03-05 15:41] khandelwal commented on #556
Where are we with this?

[2015-03-05 16:05] vz3 commented on #599
Breadcrumbs is tied to #580 which needs to be implemented by a dev

[2015-03-05 16:06] vz3 commented on #599
These are all fast follows, they should be in this sprint

[2015-03-05 16:07] vz3 commented on #600
This format is great, thanks!

[2015-03-05 16:11] vz3 commented on #597
There's a comp in #416. @shawnbot do you mind taking a look and estimating effort for the mobile nav with the sliding drawer? I pushed back on this when I was the only fewd on this bc implementation is js/jquery dependent.

[2015-03-05 16:14] vz3 commented on #562
Leaving some reference here:
http://www.metaltoad.com/blog/how-use-font-face-avoid-faux-italic-and-bold-browser-styles

@konklone do we have a URL yet for these?

[2015-03-05 16:31] khandelwal commented on #559
A few random thoughts:

A. I'd push back on being able to filter by PDF or CSV. One: CSV isn't that common of a format for an agency document release (we're more likely to see XLS). Two: I don't think the document format conveys any meaning (it's unlikely agencies are logical about the format they pick). Let the algorithms decide what floats up to the top.

B. Instead of [no title] how about simpl

[2015-03-05 18:50] ramirezg opened #601 "Feature Selection for keywords"
The keywords are rendering too many results. We need to extract the meaningful, unique words for each agency.  R has a good implementation of a [Mutual Information estimator](http://www.inside-r.org/packages/cran/entropy/docs/chi2indep.plugin) for this.

[2015-03-05 19:09] konklone commented on #562
@vz3 They're up, URL off-band.

[2015-03-05 21:37] #586 closed

[2015-03-05 21:37] #587 closed

[2015-03-05 21:38] khandelwal commented on #489
@ramirezg Where are we with the buckets that were created for us? Do they work with your permissions?

[2015-03-05 22:06] #578 closed

[2015-03-05 22:09] ericadeahl commented on #599
@khandelwal re: "Find a Federal Agency", you're right, maybe that name would be confusing. This came up because I felt like "Federal Agencies" wasn't communicating enough information about why you would go to that page. What if we went back to the name "Federal Agencies" and then added a line or two of text under the title explaining that this is an index of FOIA contact information for all the ag

[2015-03-05 23:42] konklone opened #602 "Zero downtime deploys"
Use Cloud Foundry's recommended [Green-Blue deployment setup](http://docs.cloudfoundry.org/devguide/deploy-apps/blue-green.html) to achieve zero-downtime deploys. Right now, there is substantial downtime, and if a deploy fails, the site remains down.

Fugacious example: https://github.com/dlapiduz/fugacious/blob/master/manifest.yml

[2015-03-06 01:19] ericadeahl commented on #559
A. I'm ok with eliminating the filter for the prototype, but it seems like an assumption that the file type isn't useful. I think we should look into what the actual breakdown of document types is and learn whether there is significance to potential users.

B. Agreed title name is better than no title. That's what the middle entry is in the mockup.

C. I'm ok with starting with PDFs if the body of

[2015-03-06 06:05] konklone commented on #553
A note that @dlapiduz and I made tons of progress on this today.

* @dlapiduz [made a CloudFormation template](https://github.com/18F/cloud-foundry-manifests/blob/master/provisioning/elb.json) that creates the ELB, and associated Route53 record for the selected hosted zone.
* I [updated 18F's ELB TLS ciphers](https://github.com/18F/tls-standards/pull/34) to remove RC4 in accordance with current be

[2015-03-06 14:37] khandelwal commented on #198
If we can get this language relatively soon, it'll be easier to include it into the app during the current sprint.

[2015-03-06 14:39] khandelwal commented on #490
So, where are we with this? Do we have the personal accounts working? If we do, we can close this and leave 584 open.

[2015-03-06 14:40] khandelwal commented on #538
A lot of the issues reported in here should now be fixed. Let's check them (and then close this issue).

[2015-03-06 14:43] khandelwal commented on #553
We would need a filled in CloudFormation template with all our settings right? Let's make sure we have that somewhere.

[2015-03-06 14:44] khandelwal commented on #576
Are we anywhere we doing this? We're going a lot of devops work - but I personally still don't have a complete picture of how everything fits together. I think that would be nice for me and others to have.

[2015-03-06 14:49] khandelwal commented on #560
I think I need more information on what this issue requires. What are we trying to achieve, and why are we trying to do it?

I'm happy to try and implement this, but I don't currently understand everything.

[2015-03-06 14:52] khandelwal commented on #579
@ramirezg You self-assigned this a while back. Do you intend to work on it this sprint? In that case - change the milestone.

[2015-03-06 14:55] khandelwal commented on #445
Both examples no longer have issues based on new loading code that's in place.

[2015-03-06 14:55] #445 closed

[2015-03-06 15:47] ramirezg commented on #490
@khandelwal yeah, let's close it.

[2015-03-06 15:59] khandelwal commented on #490
So this is working for you with the 18F bucket?

[2015-03-06 16:03] khandelwal commented on #490
I think I might have mis-spoke earlier. This can be closed when this works with the 18F buckets. That way we know we know what permissions to setup.

[2015-03-06 18:17] konklone commented on #576
I'm still up for doing it, but it seems lower priority than the other DevOps tasks this sprint. I also think that if the team's developers are confused about the overall system architecture, the first and better step is taking a few minutes to whiteboard it out at our next team meeting and explain it to everyone. I know that'd also help me better understand what to even make for this.

[2015-03-06 18:17] ericadeahl commented on #544
Also need to update all mentions of "FOIA Hub" to "openFOIA"

[2015-03-06 18:21] rjmajma commented on #544
Yup. That's coming in a content PR soon.

[2015-03-06 18:25] rjmajma commented on #576
Wait, I'm confused. The goal of something like this diagram is to chart out how our infrastructure works. Are we standing up tools in our VPC and not sure how they all work together?

[2015-03-06 18:35] konklone commented on #576
We're no longer using our VPC - everything we deploy is going into the Cloud Foundry VPC. And to me, it's pretty clear how things work together, but that's probably because I've worked with our AWS footprint more than the rest of the team. Since there's confusion, let's cover this at our next meeting, but there's not going to be anything we haven't talked about already.

[2015-03-06 19:12] rjmajma commented on #198
I believe the language is already in the content changes that Kate recommended. You should have it, I think. If not, I can remedy quickly.

[2015-03-06 19:37] khandelwal commented on #576
If you're going to whiteboard it at a meeting, just whiteboard it now on a piece of paper, take a picture and stick it in here. Seriously.

[2015-03-06 19:38] khandelwal commented on #576
And if it's clear to you how things work, it won't take you but 15 minutes to start putting it together.

[2015-03-06 20:14] khandelwal commented on #559
C. Making them downloadable without a preview would definitely be easier. Doing PDFs only does seem arbitrary, but it seemed like a good way to just limit the things we have to do before we can validate out in the open. I'm definitely open to this though. So, let's see if there are any other opinions.

E. In a prototype where I didn't pick up the existing CSS and designs, the viewer window was def

[2015-03-06 21:36] khandelwal commented on #198
It's there. Real lawyers would think it is subtle. I am ok with that.

[2015-03-06 21:37] khandelwal commented on #198
Did I say real lawyers? I'm sorry. I might have meant like other lawyers. Definitely wouldn't make fun of product-manager-lawyer people.

[2015-03-06 22:19] #579 closed

[2015-03-06 22:20] ramirezg commented on #596
This should take care of it. 18F/foia-hub/pull/598

[2015-03-06 22:21] ramirezg commented on #584
We have the account + credentials

[2015-03-06 22:21] #584 closed

[2015-03-07 00:05] ericadeahl commented on #429
Here are 2 options, 16x16 and 32x32. This can be updated if we develop a logo.

![foiafavicon_1_16x16](https://cloud.githubusercontent.com/assets/5911280/6538679/1a0670f0-c41a-11e4-821f-48773b879885.png)

![foiafavicon_1_32x32](https://cloud.githubusercontent.com/assets/5911280/6538678/1a04bba2-c41a-11e4-90af-112dcb1c7582.png)

![foiafavicon_2_16x16](https://cloud.githubusercontent.com/assets/5911

[2015-03-07 00:26] #562 closed

[2015-03-07 03:08] vz3 commented on #429
The F is really cool!

[2015-03-07 03:11] konklone commented on #429
Big :heart: for the F, that is much more branded and interesting and distinctive.

[2015-03-07 04:17] vz3 commented on #544
Playing around with a couple hover/focus state options. Feedback welcome! cc @ericadeahl

# Default state
![logo1](https://cloud.githubusercontent.com/assets/582918/6540030/d9e811e4-c456-11e4-8183-0d58248d6f03.png)

# Hover 1
![logo2](https://cloud.githubusercontent.com/assets/582918/6540031/ddb4431a-c456-11e4-84d2-c0297d0bb133.png)

# Hover 2
![logo3](https://cloud.githubusercontent.com/assets/58

[2015-03-09 07:21] konklone commented on #553
@dlapiduz made an [example filled-in shell script](https://github.com/18F/DevOps/blob/master/cf/create-elb.sh) for a test `*.18f.us` site, that uses the template JSON and fills in the parameters with the Cloud Foundry subnet IDs, etc.

I personally don't think the values in there are sensitive, but it's DevOps' call. So I think that as long as [my open PR](https://github.com/18F/cloud-foundry-note

[2015-03-09 07:25] konklone commented on #576
I'll be sure to identify from afar when I think your tasks look simple enough to take 15 minutes, too. ;) It feels to me like something that will take me much longer than that, and I think my time is better spent on the tasks in this sprint that are actually preventing our system from being released.

Nonetheless, I'll draw up something on a whiteboard and photograph it and stick it in here, befor

[2015-03-09 07:47] konklone commented on #560
@khandelwal Currently, redirects from HTTP->HTTPS are [handled by nginx](https://github.com/18F/foia-hub/blob/master/deploy/hub.conf#L83-L87), which sits in front of gunicorn on our EC2 instance.

In order for our app to be reachable to people who just type in our domain name without a protocol, or construct mistaken links that use `http://` in them, we need to have a redirector in place. That red

[2015-03-09 20:17] vz3 commented on #477
This is in PR #612

[2015-03-09 20:35] konklone opened #614 "Do data loading from its own app"
Our manifest should have two "apps": one to serve web requests, one to do data loading.

This way, if we deploy multiple instances of the app, they're not all loading data simultaneously and running into horrible race conditions.

[2015-03-09 20:37] konklone opened #615 "Run the app with multiple instances"
Use Cloud Foundry's scaling feature (similar to Heroku dynos) to run multiple instances of the app. At least 2, to make sure this works for > 1. It can be specified within the app manifest, and will all take place within the app's overall memory/CPU quota.

[2015-03-11 00:03] ericadeahl commented on #559
**Search landing page:**

![search landing 1](https://cloud.githubusercontent.com/assets/5911280/6587730/5b4e2dfe-c745-11e4-93c0-3150af05af45.png)

**Future version of search landing page with popular topics and agencies surfaced:**

![search landing 2](https://cloud.githubusercontent.com/assets/5911280/6587749/77833370-c745-11e4-824a-5f24efc89bd7.png)

**Search results - updated with format filte

[2015-03-11 00:17] konklone commented on #559
You're blowing my mind with how great this looks, and how exciting this project is.

[2015-03-11 05:58] vz3 commented on #592
This will be fixed by #612.

[2015-03-11 06:11] konklone commented on #614
OK, since this is not strictly necessary for our launch, I'm at least bumping it to the next sprint. It's definitely the better way to go, but is not quite as trivial as I first thought. This and #615 mean that the DB migration step will also need to be removed from the "web" apps' deploy process and moved to the "data" app's process. We'll also have to make sure that both deployments succeed befo

[2015-03-11 06:11] konklone commented on #615
See https://github.com/18F/foia-hub/issues/614#issuecomment-78210722.

[2015-03-11 06:21] konklone opened #617 "Flip Cloud Foundry deploy into production mode"
It's been running in the development environment, but should be flipped to the production environment. The production environment will need to add more hostnames to `ALLOWED_HOSTS` in `foia_hub/settings/production.py`.

To flip the app to production:

[code]

Then redeploy:

[code]

[2015-03-11 06:37] konklone opened #618 "Turn on HSTS once HTTPS is deployed and stable"
After HTTPS is up with our official cert, enable HSTS using [`django-secure`](https://django-secure.readthedocs.org/en/latest/). HTTPS and a redirect should already be present at that time.

[2015-03-11 06:49] konklone commented on #553
@dlapiduz We need a change to the CloudFormation template. [These lines](https://github.com/18F/cloud-foundry-manifests/blob/master/provisioning/elb.json#L149-L153) require that we're using a subdomain within a parent hosted zone, e.g. `test.18f.us` inside of an `18f.us` hosted zone:

[code]

However, we are going to be using the apex of our hosted zone. In the case of e.g. `open.foia.gov`, we wan

[2015-03-11 06:53] konklone commented on #553
Also, I finished and merged in the PR about ELB creation, so the [documentation is here](https://github.com/18F/cloud-foundry-notes/blob/master/operation-and-deployment/elb.md).

I've created [`foia.sh`](https://github.com/18F/DevOps/blob/master/cf/foia.sh) in our DevOps repo, to wield that [Cloud Formation template](https://github.com/18F/cloud-foundry-manifests/blob/master/provisioning/elb.json)

[2015-03-11 13:02] #511 closed

[2015-03-11 13:43] vz3 commented on #600
@ericadeahl Had to undo the light blue search hover state as it introduced contrast issues per #612. Let me know how we should address.

[2015-03-11 15:29] ramirezg commented on #601
I ended up using tf-idf the PR is here 18F/foia/pull/108

[2015-03-11 16:41] #596 closed

[2015-03-11 16:41] #580 closed

[2015-03-11 16:44] vz3 commented on #600
We should split the submit rollover into another issue — identify 508-compliant color and implement.

[2015-03-11 16:46] #559 closed

[2015-03-11 16:46] vz3 opened #620 "Implement Krang designs into template"
Designs in #559

[2015-03-11 16:47] khandelwal commented on #556
We have new relic setup, but we don't have it setup in cloud foundry. We need to set an environment variable.

[2015-03-11 16:52] #538 closed

[2015-03-11 16:52] shawnbot opened #621 "Fix color contrast on big search submit button"
[This commit](https://github.com/18F/foia-hub/commit/3797f8249c97afccbf0c8596db7621991a16e201#commitcomment-10125524) (via #600) introduces some color contrast issues:

![image](https://cloud.githubusercontent.com/assets/113896/6580895/ab383d26-c710-11e4-90b0-20ad5a220abd.png)

![image](https://cloud.githubusercontent.com/assets/113896/6580928/e52be8e8-c710-11e4-88b0-f937c7ea1724.png)

@ericadeahl

[2015-03-11 16:53] khandelwal commented on #489
Add environment variables to cloud foundry.

[2015-03-11 16:57] #429 closed

[2015-03-11 16:58] #198 closed

[2015-03-11 16:58] vz3 opened #622 "Implement new favicon"
@ericadeahl can you please share the sketch file?

[2015-03-11 16:58] shawnbot opened #623 "Change agencies page title from “Find a Federal Agency” to “Federal Agencies”"
It should be “Federal Agencies” in:

- [ ] the HTML `<title>`
- [ ] the navigation
- [ ] the HTML heading

From @ericadeahl in #599:

[2015-03-11 20:23] #544 closed

[2015-03-11 20:25] ericadeahl commented on #621
@shawnbot let's use 92D6E5 for the rollover color

[2015-03-11 22:24] vz3 commented on #563
Whoops, duped in #622. Mah bad.

[2015-03-11 22:24] #563 closed

[2015-03-12 05:01] vz3 opened #626 "Replace all instances of "FOIA Hub" throughout the site"
- [ ] OpenGraph
- [ ] Page titles

I'm sure there's more.

[2015-03-12 05:04] vz3 commented on #622
## 16x16
![favicon-16x16](https://cloud.githubusercontent.com/assets/582918/6612488/8a2f2f92-c853-11e4-8335-e6bea2e61790.png)

## 32x32
![favicon-32x32](https://cloud.githubusercontent.com/assets/582918/6612490/8a35ed64-c853-11e4-97d6-527094032ea2.png)

## 96x96
![favicon-96x96](https://cloud.githubusercontent.com/assets/582918/6612489/8a347100-c853-11e4-8d15-e48112285d67.png)

## 194x194
![favico

[2015-03-12 14:28] #592 closed

[2015-03-12 14:28] #599 closed

[2015-03-12 17:16] rjmajma commented on #600
Completed in a PR.

[2015-03-12 17:16] #600 closed

[2015-03-12 18:06] ericadeahl commented on #582
how about "search by topic or agency"

[2015-03-12 18:18] #556 closed

[2015-03-12 18:54] khandelwal opened #628 "Look at Krang wireframes, and determine the changes that are required on the backend"
We have set of excellent wireframes for Krang. These will likely require changes to how we have search setup.

- [x] List of backend changes that are required
- [x] Of that list of changes, determine which ones we'll work on during Sprint 16
- [x] Create issues for those backend changes

[2015-03-12 18:58] dlapiduz commented on #553
@konklone please feel free to change the template as you see fit. We don't need to use the exact same template every time. This is more like an example (at least for now).

Eventually we can add more logic to the template to add this use case.

[2015-03-12 19:03] khandelwal opened #629 "Making reading rooms more prominent"
We display reading rooms or 'FOIA libraries' on our agency landing page, but we don't clearly indicate that users should maybe check out the reading rooms first before submitting a FOIA request.

This would be useful as it is the intent of a reading room.

[2015-03-12 19:08] khandelwal opened #630 "Contextual help: definitions for agency landing pages"
On the agency landing pages we use a lot of industry jargon such as 'FOIA Library' or 'Public Liaison'. Let's get nice user-friendly definitions on these lined up for the great day that we have contextual search.

[2015-03-12 19:38] khandelwal opened #631 "Get a version of Krang online somewhere"
Let's get a version of Krang deployed online somewhere so that the rest of the team can play with it, and we can start evaluating it for testing usability.

[2015-03-12 19:39] khandelwal commented on #631
- [ ] decide to deploy in cloud foundry or not
- [ ] setup elasticsearch server

[2015-03-12 19:43] khandelwal opened #632 "Get in touch with CFPB and ask about their needs around reading rooms"
We'd initially established contact with the CFPB, and now just need to follow up with them.

- [ ] let's figure out what we the goals of that conversation are
- [ ] prepare any advance materials
- [ ] schedule meeting

[2015-03-12 19:49] khandelwal opened #633 "Cross-browser testing"
- [ ] Determine the oldest version of browsers we will support
- [ ] Check openFOIA with those browsers
- [ ] Make tickets for all issues found
- [ ] Identify those issues to be solved in Sprint 16

At this point we need to make sure that things are not broken in other browsers (as opposed to ensuring that all users have the same user experience).

[2015-03-12 21:21] ramirezg opened #634 "Krang: implement ability to sort documents by date."

[2015-03-12 21:22] ramirezg opened #635 "Krang: add model field for file extension"

[2015-03-12 21:24] ramirezg opened #636 "Krang: display additional information on search page"
Make sure each document has:
- [x] Agency/Office
- [x] File Type (dependent on #635 )
- [x] Released date
- [x] Created date

[2015-03-12 21:26] ramirezg opened #637 "Krang: show filename if title not present."
- [x] on search results page
- [x] on document pages

[2015-03-12 21:27] ramirezg opened #638 "Krang: add model field for page number"
Implement in the same migration as #635

[2015-03-12 21:29] ramirezg opened #639 "Krang: display additional information on details page"
- [x] Agency
- [x] foia contact page
- [x] created date
- [x] released date
- [x] number of pages

[2015-03-12 21:30] ramirezg opened #640 "Krang: display additional information on details page (More Like This)"
- [x] agency
- [x] file extension
- [x] released date

[2015-03-12 21:32] ramirezg opened #641 "Krang: extract page numbers when possible."
use the doc processing toolkit to extract page numbers.
prerequisite for #638

[2015-03-12 21:33] ramirezg opened #642 "Krang: download document support."
Create the logic for allowing a document download.

[2015-03-12 21:35] ramirezg opened #643 "Krang: update import pipeline"
- [ ] allow for import of new fields (depended on #635 and #638 )
- [ ] review 18F/doc_processing_toolkit/pull/3

[2015-03-12 21:37] ramirezg opened #644 "Krang: start working requirements to deploy on CF"
- [x] add elasticsearch service to cloud foundry
- [x] setup elastic search instance
- [x] setup Krang to work from env variables.
- [ ] figure out how to load documents

[2015-03-12 21:39] ramirezg opened #645 "Krang: merge upstream from foia-hub"
- [x] fetch and merge
- [x] deconflict

[2015-03-12 22:53] vz3 commented on #582
may need an assist from @shawnbot on this

[2015-03-13 03:37] rjmajma commented on #581
Assigning to @ericadeahl for the time being. Happy to speak to you and @vz3 about this for more context or help.

[2015-03-13 03:38] rjmajma commented on #593
Keeping open, but may not be necessary.

[2015-03-13 13:04] ramirezg commented on #641
I'm going to start with this because it's a prerequisite for creating a pages field, which will affect how the temples are rendered.

[2015-03-13 14:55] ramirezg commented on #641
the doc processing toolkit now extracts metadata, which includes page number into a json file. 18F/doc_processing_toolkit/pull/4
ex.
[code]

[2015-03-13 16:25] ramirezg commented on #638
projectkrang/foia-hub/pull/10

[2015-03-13 16:25] ramirezg commented on #635
projectkrang/foia-hub/pull/10

[2015-03-13 16:27] ramirezg commented on #644
@ozzyjohnson has added elasticsearch service to cloud foundry, so once we get the rest of these we should be able to start testing.

[2015-03-13 21:05] ramirezg commented on #645
projectkrang/foia-hub/pull/11

[2015-03-13 21:23] rjmajma opened #647 "Copy Changes - Home Page + Banner"
Per a discussion with @vz3 and @ericadeahl, we are going to consider some copy/content changes on these pages.

Here are the things we considered:
Home Page
- [ ] Sentence above the search bar
- [ ] Sentence near the tagline that expands on this site being an iterative process and how we are seeking feedback.

Banner
- [ ] Finding a useful way to point back to FOIA.gov

[2015-03-16 15:53] #602 closed

[2015-03-16 15:54] #560 closed

[2015-03-16 16:16] rjmajma commented on #647
One suggestion that came from @corizarek was the way we treated the "tagline." On the home page, headers are treated in bold, large font, and underlined. However, the tagline is also treated the same. She suggested we either create a header for it and adjust the text under it or distinguish it some other way from the headers.

[2015-03-16 16:21] corizarek commented on #647
Thanks, @rjmajma! Team, I suggest the header openFOIA to be consistent with the rest of that landing page and then take the text "openFOIA jump-starts etc.." and adjust that text to look consistent with other sub-hed text.

[2015-03-16 18:56] konklone commented on #480
[code]

[2015-03-16 18:56] #480 closed

[2015-03-17 16:28] rjmajma commented on #629
One additional possible change to the agency landing pages:

We should consider how to communicate first-person requests (e.g., asking for your visa information or medical records). They're not always a part of the FOIA process. Some agencies process them within their FOIA shop and others do not. I think it's worth considering expressing that first-person requests are treated differently and do no

[2015-03-17 18:39] ramirezg commented on #637
projectkrang/foia-hub/pull/12

[2015-03-17 18:41] ramirezg opened #648 "Krang: Fixtures for testing"
We'll need a couple document model fixtures for testing.

[2015-03-17 19:42] khandelwal commented on #644
How did you setup the elasticsearch instance?

[2015-03-17 19:44] khandelwal commented on #632
I've emailed them to try and setup a time, but haven't heard back yet.

[2015-03-17 19:45] ramirezg commented on #644
@khandelwal I should have been clearer with the checkboxes. The service is there, but I haven't tested Krang on CF yet.

[2015-03-17 19:45] khandelwal commented on #628
@ramirezg Can you document this with the changes we identified?

[2015-03-17 19:47] khandelwal commented on #576
I've put together a version of the diagram.

![openfoia-cloud-foundry-architecture](https://cloud.githubusercontent.com/assets/636752/6696065/be1cfd4e-ccbc-11e4-8c26-3bd194067d02.png)

Does this make sense @dlapiduz @seanherron?

[2015-03-17 19:48] khandelwal commented on #576
Notes:

1. HTTPS terminates at the ELB.
2. The ELB points to the Cloud Foundry routers.
3. If we have multiple Cloud Foundry instances, only one of those should write to the database (load data).

[2015-03-17 20:59] #645 closed

[2015-03-17 21:03] ramirezg commented on #642
I think this already exists.

[2015-03-17 21:03] #642 closed

[2015-03-17 21:09] ramirezg commented on #628
Below is a list of changes of changes. They seem like a lot but most are small. We should be able to finish most before the end of the sprint.

### Model Changes
Add model field for page number #638
Add model field for file extension #635
Extract page numbers when possible. #641

### Elasticsearch Changes
Implement ability to sort documents by date. #634

### Template Changes
Display additional in

[2015-03-17 23:38] dlapiduz commented on #576
The diagram looks very good, the only thing I would mention is that Cloud Foundry is inside the Cloud Foundry VPC, not outside.

[2015-03-18 18:08] vz3 commented on #555
@shawnbot would you be able to put any time on this during this sprint?

[2015-03-18 18:10] #571 closed

[2015-03-18 18:12] #593 closed

[2015-03-18 18:12] rjmajma commented on #593
Unnecessary!

[2015-03-18 18:12] khandelwal commented on #594
@khandelwal Put in a template that can be styled.

[2015-03-18 18:16] #628 closed

[2015-03-18 19:44] konklone commented on #558
I didn't remember adding this to the sprint during sprint planning - my vote would be to not, and focus on the other launch-required things.

[2015-03-19 16:25] #638 closed

[2015-03-19 16:25] #635 closed

[2015-03-19 17:25] ericadeahl commented on #629
Here is a comp of the agency page - I removed the FOIA Library link from the sidebar and added it as an alert under the agency description.

I also made a change to the sidebar. Currently it lists the same phone number twice and lists a "public liaison" (see screenshot below the new comp), but it's not clear what that contact information is for - ie when do I contact the public liaison and when do

[2015-03-19 17:55] #637 closed

[2015-03-19 17:55] #634 closed

[2015-03-19 17:57] ramirezg commented on #640
projectkrang/foia-hub/pull/13

[2015-03-19 17:57] ramirezg commented on #639
projectkrang/foia-hub/pull/13

[2015-03-19 17:58] ramirezg commented on #636
projectkrang/foia-hub/pull/13

[2015-03-19 19:08] ericadeahl commented on #647
Here are the updates to the homepage and banner design and copy:

- We added a link to FOIA.gov in the header
- We made the banner much more prominent and added language to make it clear to users that the site is in development and we're looking for feedback. By default the banner will appear open; when it is closed a link appears in the header to reopen it (see second comp below.)
- We moved the

[2015-03-19 19:24] ramirezg commented on #648
projectkrang/foia-hub/pull/13

[2015-03-19 20:04] vz3 commented on #477
Merged above. Closing.

[2015-03-19 20:04] #477 closed

[2015-03-19 20:06] vz3 commented on #555
My bad, reviewed #621 and merging once it passes Travis test.

[2015-03-20 06:00] vz3 commented on #621
#646 is merged, closing

[2015-03-20 06:00] #621 closed

[2015-03-20 16:50] shawnbot opened #652 "Search keyboard up/down should bring selected item into focus"
If you use the keyboard to scroll through a long list of search results, the cursor will just scroll right past the visible area. It should scroll down to always show the selected item.

**Note:** this bug is caused by my kinda [hacky](https://github.com/18F/foia-hub/commit/3c98b0a91e4923b5ef50d2a6c93549e498219113#diff-448ff5a6ade0e2a5135ee84b49bb7d36R108) [solution](https://github.com/18F/foia-hu

[2015-03-20 19:39] vz3 commented on #633
## Win 8.1 IE11
![win8 1_ie_11 0](https://cloud.githubusercontent.com/assets/582918/6759544/2c17c37c-cf17-11e4-9a26-d4c9338e480a.png)

## Win 7 IE10
![win7_ie_10 0](https://cloud.githubusercontent.com/assets/582918/6759548/2fb4384e-cf17-11e4-9d97-912b29baedde.png)

## Win 7 IE9
![win7_ie_9 0](https://cloud.githubusercontent.com/assets/582918/6759549/31e46fee-cf17-11e4-811e-329e7399a67d.png)

## Wi

[2015-03-20 19:41] vz3 commented on #633
## Win 8.1 Chrome 40
![win8 1_chrome_40 0](https://cloud.githubusercontent.com/assets/582918/6759578/6d1f935e-cf17-11e4-91b6-58b33e896a21.png)

## Win 8.1 Firefox 31
![win8 1_firefox_31 0](https://cloud.githubusercontent.com/assets/582918/6759579/6eb1bb3e-cf17-11e4-89d3-4c4bd9f3aad7.png)

[2015-03-20 19:41] vz3 commented on #633
## OS X Yosemite Chrome 40
![macyos_chrome_40 0](https://cloud.githubusercontent.com/assets/582918/6759590/8c043b44-cf17-11e4-8ef2-8152606ad36d.png)

## OS X Yosemite Firefox 31
![macyos_firefox_31 0](https://cloud.githubusercontent.com/assets/582918/6759591/8c045d86-cf17-11e4-8a90-fefc72839ea1.png)

## OS X Yosemite Safari 8
![macyos_safari_8 0](https://cloud.githubusercontent.com/assets/582918/6

[2015-03-20 19:43] vz3 commented on #633
## iPhone 6
![ios_iphone-6_8 0_portrait](https://cloud.githubusercontent.com/assets/582918/6759617/a7bd4c40-cf17-11e4-9aef-49dc51616d3f.jpg)

## iPhone 4S
![ios_iphone-4s_5 1_portrait](https://cloud.githubusercontent.com/assets/582918/6759618/a92f2bc0-cf17-11e4-82d0-0740bbb64bde.jpg)

## iPad 3rd Gen
![ios_ipad-3rd- 6 0 _6 0_portrait](https://cloud.githubusercontent.com/assets/582918/6759620/ad079

[2015-03-20 20:09] ramirezg commented on #644
https://github.com/projectkrang/foia-hub/pull/16/files

[2015-03-20 22:30] vz3 commented on #597
Regarding the hamburger menu, it's worth considering an alternative labeled option. It's also arguably more accessible.

http://conversionxl.com/testing-hamburger-icon-revenue/
http://www.nngroup.com/articles/icon-usability/

[2015-03-23 16:06] ramirezg commented on #479
18F/foia-hub/pull/654

[2015-03-23 17:45] ericadeahl commented on #581
@ramirezg @rjmajma The link in this issue is broken. Can one of you send me a new link / screenshot / describe what you need here?

[2015-03-23 17:46] khandelwal commented on #581
New link: https://foia.18f.us/update-contacts/department-of-defense

[2015-03-23 17:59] khandelwal commented on #576
![openfoia-cloud-foundry-architecture 1](https://cloud.githubusercontent.com/assets/636752/6786802/db1dd574-d164-11e4-9e88-c83d035d562a.png)

[2015-03-23 17:59] #576 closed

[2015-03-23 19:06] ramirezg opened #655 "Upstream Merge w/ staging changes."

[2015-03-23 19:18] ramirezg commented on #655
projectkrang/foia-hub/pull/15

[2015-03-23 19:24] ramirezg opened #656 "Explore using foiaonline documents for Krang"

[2015-03-23 19:53] ramirezg commented on #656
foiaonline data appears to have a couple attributes which will make easy to ingest into Krang.

### Detailed metadata
[code]
### Already hosted online
We may be able to direct people foiaonline for viewing and downloading
`"download_url": "https://foiaonline.regulations.gov/foia/action/getContent?objectId=pYyV_RXjeHl_90JW9libqXfxlcBvE4KS"`

### Krang's ES search is more robust and provide snippets

[2015-03-23 20:05] rjmajma commented on #656
That's awesome, @ramirezg.

[2015-03-23 20:06] khandelwal commented on #594
#657 Adds in basic template code for the 404 and 500 pages. So that those place holders exist when we're reading to implement these pages.

Here's what the 404 page looks like:
![screen shot 2015-03-23 at 4 03 31 pm](https://cloud.githubusercontent.com/assets/636752/6789428/9345d08c-d176-11e4-839c-ddae5220a1d6.png)

[2015-03-23 21:03] khandelwal commented on #489
So, I added the correct environment variables to cloud foundry apps foia-a and foia-b. Since environment variables persist, these will be available for when we start using the production settings file.

[2015-03-23 21:03] #489 closed

[2015-03-24 03:26] konklone commented on #547
I've purchased the certificate for `open.foia.gov`, using SSLMate's [DNS-based validation](https://github.com/SSLMate/sslmate/issues/9). This did not require setting up any MX records or receiving emails. It did, as part of the process, create a CNAME record with a hash as the value, to validate domain ownership.

While the CNAME record is not required to continue validating the domain (the way it

[2015-03-24 03:26] #547 closed

[2015-03-24 04:04] konklone commented on #553
I've created the ELB `CF-ELB-Test-ELB-19990PVNRCPL0`, using [`foia.sh`](https://github.com/18F/DevOps/blob/master/cf/foia.sh)

* https://github.com/18F/DevOps/commit/b6f719e162a6f0ad2940ad434e90778be12dbd05 - specifying the proper cert name, removing `ZoneName`
* https://github.com/18F/cloud-foundry-manifests/commit/2b6f83d3579d97319c372281a16eed70693d6043 - removing `ZoneName` from elb.json

@dla

[2015-03-24 04:09] konklone commented on #618
(Also, the HSTS header will only be sent once the app is set into production mode, which is #617.)

[2015-03-24 04:14] konklone commented on #617
A few notes here:

* Now that the app forces HTTPS in production after #619, this ticket depends on the verification of HTTPS, DNS, and ELB configuration in #553 before it's safe to enable for `foia-a` or `foia-b`.
* Once enabled, `foia-a.cf.18f.us` and `foia-b.cf.18f.us` will no longer be viable URLs to use to inspect the state of the production system -- only `https://open.foia.gov` will work (a

[2015-03-24 12:40] khandelwal commented on #617
As discussed before - I set up a staging environment last week. It runs here: http://openfoia-staging.cf.18f.us/ (no https setup).

[2015-03-24 13:52] #636 closed

[2015-03-24 13:52] #639 closed

[2015-03-24 13:52] #640 closed

[2015-03-24 13:52] #648 closed

[2015-03-24 15:26] #618 closed

[2015-03-24 15:32] #479 closed

[2015-03-24 16:24] rjmajma commented on #555
Merged!

[2015-03-24 16:24] #555 closed

[2015-03-24 16:56] dlapiduz commented on #553
@konklone it is in there and looking good!

[2015-03-24 17:42] vz3 commented on #633
via @konklone, FOIA.gov's browser traffic:
![image](https://cloud.githubusercontent.com/assets/582918/6808636/61377a4a-d212-11e4-8275-c5d7b77630c6.png)

[2015-03-24 18:35] konklone commented on #553
This is done and works perfectly! Thanks, @dlapiduz.

[2015-03-24 18:35] #553 closed

[2015-03-24 19:23] konklone commented on #553
The DNS record was an `A` record that used R53's `ALIAS` option to point the record to `dualstack.cf-elb-test-elb-19990pvnrcpl0-1133059661.us-east-1.elb.amazonaws.com.`.

The record has been removed. It can be restored to make the site publicly accessible.

This (for now anyway) evaluates to an `A` record to `54.85.150.222`, so you can set that IP to `open.foia.gov` in your `/etc/hosts` file to ac

[2015-03-24 19:26] konklone commented on #617
The production app(s), `foia-a` and `foia-b` are now in production mode and have been re-deployed. I updated the commands at the top to reflect the process I went through.

[2015-03-24 19:26] #617 closed

[2015-03-24 19:28] konklone commented on #618
Now that #658 is deployed, and production mode is enabled from #617, HTTPS is forced and HSTS is present.

HTTPS redirect:

[code]

And HSTS:

[code]

(My box has `/etc/hosts` modified to make the `open.foia.gov` route work.)

[2015-03-24 21:58] ramirezg opened #660 "Speed Up Doc Processing Toolkit"
Tesseract is incredibly slow, but [celery](https://docs.python.org/3/library/threading.html) can at least run multiple instances.

18F/doc_processing_toolkit/pull/6

[2015-03-25 16:05] rjmajma commented on #647
There's still work to be done here, but this was a great attempt at compromising the content changes that were suggested to us. Awesome work all around, @ericadeahl. I'm comfortable closing it but will leave it open for review.

[2015-03-25 16:06] rjmajma commented on #630
Given @ericadeahl's changes to the agency landing page here, https://github.com/18F/foia-hub/issues/629#issuecomment-83683502, I'm not sure this is necessary. Either way, did not complete.

[2015-03-25 16:07] rjmajma commented on #629
There's still work to be done here, but this was a great attempt at compromising the content changes that were suggested to us. Awesome work all around, @ericadeahl. I'm comfortable closing it but will leave it open for review.

[2015-03-25 16:07] rjmajma commented on #622
This was merged in a PR. Closing!

[2015-03-25 16:07] #622 closed

[2015-03-25 16:07] rjmajma commented on #623
Fixed in a PR. Closing!

[2015-03-25 16:07] #623 closed

[2015-03-25 16:08] rjmajma commented on #626
Fixed in a PR. Closing!

[2015-03-25 16:08] #626 closed

[2015-03-25 16:08] rjmajma commented on #633
This is some solid work. We need to determine what, if any changes, need to be made. I'd consider those separate tickets, but leaving open for review.

[2015-03-25 16:08] rjmajma commented on #632
Shashank did that today! What's the update?

[2015-03-25 16:26] ramirezg commented on #629
@ericadeahl These changes really highlight the purpose of all the data we collected :100:

Sometimes the public liaison phone and the office phone are different. Any thoughts on how to deal with that?

[2015-03-25 16:38] khandelwal commented on #594
Make autocomplete work.

[2015-03-25 16:38] rjmajma commented on #594
Provide extra padding at the top. That's a note for @vz3 if possible.

[2015-03-25 16:41] khandelwal commented on #629
We need to tweak this with new content from DOJ.

[2015-03-25 16:42] rjmajma commented on #630
Bad raph! Didn't finish, but worth doing. Moving to next sprint.

[2015-03-25 16:43] ramirezg commented on #631
We have a search, but no docs.
http://krang.cf.18f.us/documents/search/?q=test

[2015-03-25 16:57] #644 closed

[2015-03-25 16:57] #631 closed

[2015-03-25 16:57] ramirezg commented on #643
Requirements are finished via 18F/foia-hub/issues/644 and we have a version online via 18F/foia-hub/issues/631

[2015-03-26 17:44] konklone commented on #553
Note that Amazon does in fact change the underlying IP addresses from time to time. I just had to change mine to `54.152.166.225`.

To get the latest IP that you can put in `/etc/hosts`, run this command and grab any of the resulting IPs:

[code]

[2015-03-26 18:08] #629 closed

[2015-03-26 18:08] #647 closed

[2015-03-26 18:10] #633 closed

[2015-03-26 18:10] #632 closed

[2015-03-26 18:13] ericadeahl opened #662 "Create updated Krang screens / clickable prototype for usability testing"

[2015-03-26 18:13] vz3 opened #663 "IE8+ compatibility"
- [ ] Evaluate IE8 functionality, particularly autocomplete and low-mid res desktop (1024*768?) view
- [ ] Evaluate IE9 functionality, particularly autocomplete and low-mid res desktop (1024*768?) view

If <IE9 autocomplete presents major issues, we should consider disabling autocomplete entirely for those browsers.

[2015-03-26 18:14] ramirezg opened #664 "Upload some documents to staging version of Krang"
Get some documents into the online version of Krang even before finalizing in the import document pipeline.

[2015-03-26 18:14] ericadeahl opened #665 "Prepare usability testing plan for Krang"

[2015-03-26 18:17] ericadeahl opened #666 "Krang usability testing with FOIA Requestors"
Schedule and execute usability testing with ~5 FOIA requestors

[2015-03-26 18:18] ericadeahl opened #667 "Add documents to Krang prototype"
Add documents (10-20?) into the Krang prototype to prepare it for usability testing

[2015-03-26 18:19] #664 closed

[2015-03-26 18:20] vz3 commented on #528
Questions:
Are users scrolling on the home page?
Are users who are using the search tool ending up at an agency landing page? Do they spend enough time on that page that indicates that they are taking an action?
What are users entering into the search box? How does the search traffic compare between homepage and small search?

[2015-03-26 18:24] ericadeahl opened #668 "Research planning for how agencies can submit documents to Krang"
Meet to plan the research!

[2015-03-26 18:24] vz3 opened #669 "Usability heuristic evaluation of openFOIA"
These guidelines are a good place to start:
http://www.nngroup.com/articles/ten-usability-heuristics/

This is a good quantifiable way for us to objectively evaluate the usability of the UI.

[2015-03-26 18:26] ericadeahl opened #670 "Document intake research - talk to FOIA processors"
Talk to people at 2 agencies to understand how document intake works / how they would like it to work

[2015-03-26 18:36] ericadeahl opened #671 "Design research for document intake"
Gather relevant design examples for document intake

[2015-03-26 18:36] vz3 opened #672 "Implement collapsible banner"
Design in #647

[2015-03-26 18:38] vz3 commented on #594
I will take autocomplete, padding, and formatting.

[2015-03-26 20:18] corizarek commented on #647
Team, this looks awesome. Thanks for incorporating those great suggestions and finding a way to do so while staying true to the openFOIA brand! Almost there!!

[2015-03-31 04:30] rjmajma commented on #630
Here are some terms that I believe would be helpful to provide additional information for. The definitions are pulled directly from foia.gov.

[
   {
    "term”:”Complex Request",
    "definition":"A FOIA request that an agency anticipates will involve a voluminous amount of material to review or will be time-consuming to process."
  },
{
    "term”:”Public Liaison",
    "definition":"If you have

[2015-03-31 15:28] rjmajma commented on #581
Just spoke to @vz3. He's going to schedule a small design studio to help push this along.

[2015-03-31 15:36] rjmajma opened #675 "Complete Content Negotiation"
Currently finalizing content with internal stakeholders. This may require future adjustments.

[2015-03-31 16:36] noahmanger commented on #630
Just to bring her in, @meiqimichelle has also been looking to do this for EITI.

[2015-03-31 16:43] khandelwal opened #676 "Use RDS for production"
Our current production instance doesn't use RDS - and uses a database running on an EC2 instance. Let's change it to use a production RDS.

- [x] Setup production RDS
- [x] Configure production openFOIA instance to use RDS.

[2015-03-31 16:51] khandelwal opened #677 "Explore extracting a document title"
It's not likely we'll get any metadata with the documents that are given to us. Or even if we do get metadata, it'll be inconsistent.

Let's explore ways to determine the title of a document given just the text of the document.

[2015-03-31 17:00] meiqimichelle commented on #630
Totally. We are definitely implementing, just haven't gotten there yet. Need to work on other content/site dev work first. I'm thinking we're at least one sprint, more likely two, away from implementation of a glossary MVP on EITI. Def. keep me in the loop :D

[2015-03-31 20:08] khandelwal opened #678 "Backend Management of Document Import"
This is a collection of issues that identify various tasks and concepts in the creation of our document import path.

### The setup

There are three major pieces to importing documents into Krang.

#### 1: Document gathering

In this step we gather documents from agencies and put those documents (in a determined directory structure) in an S3 bucket. This is just the document collection piece and o

[2015-04-01 17:33] khandelwal opened #679 "Import script (reads S3 bucket)"
We need an import script that reads an S3 bucket, determines what hasn't been already imported, and imports the new documents into Krang.

[2015-04-01 17:40] khandelwal opened #680 "Running the document processing on documents in an S3 bucket"
We probably need a script or some code that runs the document processing toolkit over documents in an S3 bucket (which is where they will end up after we've collected them) that haven't been processed before.

Processing in this case mostly means extracting the text.

[2015-04-01 18:10] rjmajma commented on #665
Talked it over with Liz Goodman, who gave great feedback. It's not usability testing we're necessarily doing, but learning how to ask them how they'd research (without Krang) and then using Krang to do that testing.

[2015-04-01 18:13] vz3 commented on #668
Potentially CFPB, GSA?

[2015-04-01 18:16] rjmajma commented on #675
Completed! Next steps are:

1. Implement content changes where appropriate.
2. Update mockups to reflect final content changes.

[2015-04-01 19:18] khandelwal opened #681 "Store the date we import a document"
Currently we don't keep track of the timestamp of when we import a document into Krang. We should probably do that, as it might prove useful - especially is showing things like: x number of documents imported today.

[2015-04-01 19:50] ramirezg commented on #680
We now have an s3 bucket: `18f-foia-doc-storage` with 2000+ docs on `keystone`

18f-foia-doc-storage

[2015-04-01 21:02] khandelwal opened #682 "Last 508 check"
Once we have the final designs and content implemented, do a final and quick check for 508 issues.

[2015-04-01 21:02] khandelwal opened #683 "Check mobile navigation with IE 8 and 9"
Once the mobile navigation is implemented.

[2015-04-01 21:03] khandelwal opened #684 "Implement Route 53 changes to turn on open.foia.gov"
We'll have to make some changes in route 53.

Details: https://github.com/18F/foia-hub/issues/553#issuecomment-85656380

[2015-04-01 21:04] khandelwal opened #685 "Ensure New Relic works for production."
We've implemented the right things and make the right environment variable changes. Let's make sure we all know where to go to look at the dashboards, and what to look for.

[2015-04-01 21:04] rjmajma opened #686 "Implement - Glossary"
Our site uses a number of very specific, sometimes legal terms (e.g., FOIA Public Liaison). We've identified them and defined them in #630, but now we need to implement them in a glossary. We've already done this with openFEC.

![demo](https://cloud.githubusercontent.com/assets/1696495/6517562/2953d300-c351-11e4-836b-bc68c20ae862.gif)

This should be implemented on our site as well. @noahmanger's

[2015-04-01 21:05] rjmajma commented on #630
Closed. Implementation is in #686

[2015-04-01 21:05] #630 closed

[2015-04-01 21:05] khandelwal opened #687 "Starting more than 1 instance: data loading and database changes"
if we're starting more than one instance, we need to only have one of those instances do data loading and database changes.

[2015-04-01 21:05] ramirezg opened #688 "Add Analytics"
Add analytics to front end to answer [questions](https://docs.google.com/a/gsa.gov/document/d/1hsae26S2UQgTGj-kGDq87rgZ5DOdUBtAayLabOeRUNY/edit?usp=sharing). Additions must not be inline.

[2015-04-01 21:06] khandelwal opened #689 "Tag the release before going into production"
Tag a version in github so that we know what we've deployed.

[2015-04-01 21:06] khandelwal opened #690 "Stakeholder feedback: make content changes"

[2015-04-01 21:06] ramirezg opened #691 "Implement Krang designs"
- [ ] Gather final Krang designs
- [ ] Implement changes - (write tickets as needed)

[2015-04-01 21:07] khandelwal opened #692 "Stakeholder feedback: make any related design changes."

[2015-04-01 21:08] rjmajma opened #693 "Update the Current Mockups to Reflect Content Changes"
The current mockups should be updated to reflect the most recent content changes. These can be found here: https://docs.google.com/a/gsa.gov/document/d/1LdO4CVAf5wfYu9hqIKeqpFTqgYx3JEntJSsn0Ex2pIg/edit

This will help us share the work with our stakeholders.

[2015-04-01 21:08] #675 closed

[2015-04-02 00:57] ericadeahl commented on #693
@rjmajma Here are updated mockups

**Homepage**

![homepage 1](https://cloud.githubusercontent.com/assets/5911280/6955741/b2d5d154-d897-11e4-94bc-c4d351e0b6c0.png)

**Homepage with "How does the process work?" graphic**

![homepage 2](https://cloud.githubusercontent.com/assets/5911280/6955744/be7a4274-d897-11e4-9cba-81ba9a9d57ac.png)

**About this project**

![about this project](https://cloud.git

[2015-04-02 14:55] corizarek commented on #693
@ericadeahl you are awesome! These are looking great!

[2015-04-02 16:02] ramirezg opened #694 "Display only 99 agencies in contact updater"
The contact updater currently displays our entire federal agency list. This will be difficult for our users when dealing with decentralized agencies.

For example, we have the Census Bureau displayed separately from the Department of Commerce, even though we anticipate the gov user from Commerce to update in a single place. Let's only display the 99 agencies to make it easier to use.

[2015-04-02 16:08] ramirezg opened #695 "Strip down contact updater"

[2015-04-02 16:49] ramirezg commented on #694
@rjmajma actually this was much easier than I thought for some reason.

18F/foia-hub/pull/696

[2015-04-02 16:49] ramirezg commented on #695
Done.
18F/foia-hub/pull/696

[2015-04-02 17:09] rjmajma commented on #693
This is great, @ericadeahl. Closing!

[2015-04-02 17:09] #693 closed

[2015-04-02 17:12] rjmajma opened #697 "Implement - Newest Home Page Designs"
@ericadeahl updated the home page recently. We should implement a few things. The banner is being completed in a separate ticket, but we also need to move the tagline to the search header.

![](https://cloud.githubusercontent.com/assets/5911280/6955741/b2d5d154-d897-11e4-94bc-c4d351e0b6c0.png)

[2015-04-02 17:12] rjmajma opened #698 "Implement - New Agency Landing Page Design"
The following designs need to be implemented.

![](https://cloud.githubusercontent.com/assets/5911280/6955761/0ce66974-d898-11e4-9fbf-e74f739dd084.png)

[2015-04-02 17:14] rjmajma opened #699 "Remove the "Understanding FOIA" page"
This needs to be removed from the nav/taken off the site.

[2015-04-02 18:22] rjmajma opened #700 "Change Content for About this Project"
We've adjusted the content for this part of the site and need to switch it out.

[2015-04-02 20:44] #695 closed

[2015-04-02 20:44] #694 closed

[2015-04-03 15:37] #655 closed

[2015-04-03 15:39] #656 closed

[2015-04-03 15:40] ramirezg commented on #528
We now have basic event tracking on analytics.

[2015-04-03 15:40] #528 closed

[2015-04-03 15:41] ramirezg commented on #667
http://krang.cf.18f.us/documents/search/

[2015-04-03 16:08] rjmajma commented on #700
Completed!

[2015-04-03 16:08] #700 closed

[2015-04-03 16:08] rjmajma commented on #699
Completed!

[2015-04-03 16:08] #699 closed

[2015-04-03 16:08] rjmajma commented on #697
Completed! All we're missing is the banner, which is in another ticket.

[2015-04-03 16:08] #697 closed

[2015-04-03 16:49] khandelwal opened #702 "Krang's Cloud Foundary instance is in the wrong space"
The Krang Cloud Foundry instance is in the production space 'hub'.
It should probably be in the staging space called 'staging'.

Let's only keep production ready applications in the 'hub' space.

[2015-04-03 16:49] khandelwal commented on #702
cc: @ramirezg

[2015-04-03 17:07] ramirezg commented on #702
K I've cleared the production space of non-production apps
[code]
I'll be working on rebooting krang on the staging side.

[2015-04-03 18:26] khandelwal commented on #676
There's a production RDS instance setup now, and openfoia is using it.

The production RDS instance is called: "openfoia-production-cf".

[2015-04-03 18:26] #676 closed

[2015-04-03 21:40] khandelwal commented on #698
Here's what a current iteration (without front-end help) looks like: https://cloud.githubusercontent.com/assets/636752/6989345/594cb87c-da28-11e4-8fc2-973d2da7039e.png

[2015-04-03 21:42] khandelwal commented on #698
Note, we've changed some of the language around libraries - which is why my implementation reads a bit differently.

[2015-04-06 14:45] ramirezg opened #709 "Shutdown unused instance"
- [x] stop http://foia.cf.18f.us/
- [x] stop openFOIA instance
- [ ] remove scripts, requirements, and docs. related to aws/fab.
- [x] clean up aws instance if needed

[2015-04-06 16:33] rjmajma commented on #597
Checking in on progress here. How're things coming along?

[2015-04-06 18:49] ericadeahl commented on #597
@shawnbot Oops, I never saw the mockup you did above. Here's a version I did that's very similar. Cool?

![mobile home](https://cloud.githubusercontent.com/assets/5911280/7009949/d53a5dd2-dc52-11e4-8d4b-3e6f36dc0192.png)
![mobile home 2](https://cloud.githubusercontent.com/assets/5911280/7009953/da5f518c-dc52-11e4-93de-8f644e674cab.png)

[2015-04-07 15:34] ramirezg commented on #702
We now have a staging version of krang with keystone pipeline documents.
http://krang-staging.cf.18f.us/documents/search/?q=keystone+pipeline

Also if anybody can figure out why this is happening please, help.
![screen shot 2015-04-07 at 11 32 34 am](https://cloud.githubusercontent.com/assets/4596845/7026810/fb693114-dd19-11e4-80ed-543738cdd287.png)

[2015-04-07 15:34] #702 closed

[2015-04-07 20:41] vz3 commented on #581
Form specs here:
https://docs.google.com/a/gsa.gov/spreadsheets/d/1gp4EPHTBfNFRoba-AWvmLZ_HEtpzPUeDaPJXApIalzE/edit?usp=sharing

[2015-04-07 20:44] ramirezg opened #711 "Document text doesn't fit into Elasticsearch"
I've had to limit the indexed text to 5000 characters because without the limit ES breaks.

[2015-04-07 21:04] ericadeahl commented on #662
Prototype for testing is here: http://invis.io/HF2MPCHTR

[2015-04-07 21:04] #662 closed

[2015-04-07 21:35] ramirezg opened #712 "Facets urls broken on Krang"
Fix the url text.
![screen shot 2015-04-07 at 11 32 34 am](https://cloud.githubusercontent.com/assets/4596845/7026810/fb693114-dd19-11e4-80ed-543738cdd287.png)

[2015-04-08 16:52] #667 closed

[2015-04-08 16:53] ramirezg commented on #660
I've added documentation for celery

[2015-04-08 16:53] #660 closed

[2015-04-08 16:55] ramirezg commented on #490
Krang staging is now using 2 buckets

[2015-04-08 16:55] #490 closed

[2015-04-08 16:57] ramirezg commented on #641
https://github.com/18F/doc_processing_toolkit/pull/6
Close after we merge

[2015-04-08 17:42] khandelwal commented on #581
Design studio was held.
Next step is to do a wireframe.

[2015-04-08 17:42] #581 closed

[2015-04-08 17:47] khandelwal commented on #666
3 interviews scheduled later this week.

[2015-04-08 17:48] rjmajma commented on #668
We had the meeting. Erica will provide a research plan soon.

[2015-04-08 17:50] khandelwal commented on #672
We need additional front-end development help for this one.

[2015-04-08 17:51] ericadeahl commented on #665
Script is here:
https://docs.google.com/a/gsa.gov/document/d/14-PqfQpbFF3BIsehoxu27pYkNrnBZausJ0rVU3XTvwI/edit

[2015-04-08 17:51] #665 closed

[2015-04-08 23:43] ericadeahl opened #715 "Fix styling for content updates"
**Homepage**
- [x] change “begin your federal…” text size to H1
- [x] in “how does the process work?” section, reduce bottom margin after H2 (ie "1. identify an agency") to .5em (if that doesn't mess things up elsewhere) and increase the padding between the end of the body copy ("…a list of all federal agencies.") and the next header ("2. Do your research")

should look like this:
![screen shot 20

[2015-04-09 16:31] rjmajma commented on #698
This is a new ticket. Included in #715.

[2015-04-09 16:31] #698 closed

[2015-04-09 17:47] ericadeahl opened #716 "Design studio for Krang agency library page"
Schedule and conduct a design studio with the team to sketch and discuss the agency library page

[2015-04-09 17:47] ericadeahl opened #717 "Design comps for Krang agency library page"
Take the output from the design studio and refine into a design comp

[2015-04-09 17:48] rjmajma opened #718 "Write the FOIA Anthem"
The FOIA Anthem, sung to the tune of _________, will be performed by @ericadeahl during sprint review.

[2015-04-09 17:49] khandelwal opened #719 "Create a glossary feature for the agency landing page"
- [x] Figure out what we want to do as an MVP
- [x] Implement glossary

[2015-04-09 17:50] khandelwal commented on #719
Keep this as simple as possible.

[2015-04-09 17:52] ericadeahl opened #720 "Remove "median processing time" from agency index"
Figure out why this is here and get rid of it:

http://openfoia-staging.cf.18f.us/contacts/department-of-justice/

![screen shot 2015-04-08 at 4 12 02 pm](https://cloud.githubusercontent.com/assets/5911280/7073144/36bce610-dea6-11e4-88e7-8b389c4f695c.png)

[2015-04-09 17:52] khandelwal opened #721 "Weird processing times on some agencies. Get rid of this."
![screen shot 2015-04-09 at 1 24 00 pm](https://cloud.githubusercontent.com/assets/636752/7073188/ab61b518-debf-11e4-8343-4c0e6221cae5.png)

[2015-04-09 17:53] #721 closed

[2015-04-09 17:55] khandelwal opened #722 "Work on openFOIA seeds proposal"

[2015-04-09 17:55] vz3 opened #723 "Wireframe for contact updater"
Continued work on #581. Produce wireframes based on work from design studio.

[2015-04-09 17:58] rjmajma commented on #670
I will arrange time with GSA and one non-CFPB FOIA processor.

[2015-04-09 18:04] rjmajma opened #724 "Design Research - Comparable Research Tools to Krang"
We're looking to create a research tool for records. Let's make sure we have a clear understanding of what else is out there and what users are using.

[2015-04-09 18:04] rjmajma commented on #671
This will likely not be part of the MVP, but this is important work to do for the time being.

The focus here is to look at other platforms that allow for people to upload or make documents available on a platform.

[2015-04-09 18:05] ericadeahl commented on #724
collect screenshots from lexus nexis, mendeley, jstor, muck rock, etc

[2015-04-10 15:49] #594 closed

[2015-04-10 21:47] nsinai commented on #718
https://www.youtube.com/watch?v=DhlPAj38rHc

[2015-04-13 13:07] #720 closed

[2015-04-13 14:18] ramirezg commented on #711
This issue will need to be solved by devops in production. The problem and solutions are below:

1. elasticsearch crashes if the document index exceeds the 1g heap size default. To override the default load elasticsearch with the following settings `elasticsearch -Xmx<memory size> -Xms<memory size>`. For example 3gs would be `elasticsearch -Xmx3g -Xms3g`

2. Some of our documents are over 100mb, t

[2015-04-13 14:24] ramirezg opened #728 "elasticsearch reindex crashes if release_date is null"
Gracefully handle null dates so they don't crash es

[2015-04-13 18:20] ramirezg opened #729 "Create date_added field"
Currently docusearch has date_released and date_created, but we should add date_added to display `recently uploaded documents`.

[2015-04-13 18:35] ramirezg opened #730 "Connect agency/office models to docusearch."
Currently, documents are connected to the Agency and Office model via a slug. They should be connected as foreign keys to allow us to easily get Agency documents and vise versa. Also connecting these models will help with validating possibly unlinked documents on imports.

Note: ensure that agency documents are not deleted with load_agency_documents.py is run.

[2015-04-13 22:33] ericadeahl commented on #719
Discussed this with @vz and we decided to implement the expanding side box proposed in #693

To ensure accessibility, we discussed adding explanatory text next to the (?) link. I think it might be sufficient to make the term part of the link (option 1 below.) If not, we can add "What is this?" text (option 2 below.)

![screen shot 2015-04-13 at 3 30 00 pm](https://cloud.githubusercontent.com/asset

[2015-04-13 22:51] ericadeahl commented on #716
Here are notes from the conversation with Marty in the design studio:
https://docs.google.com/document/d/1MdEDQ50A5CTMlqKL4YaZBHE_CAlPdAODpsfEJ_kNsy0/edit

Here are the sketches that came out of the studio:

**Agency library page**
![slack_for_ios_upload](https://cloud.githubusercontent.com/assets/5911280/7127053/cc5c9742-e1f3-11e4-8704-48b9b527a502.jpg)

![img_0057](https://cloud.githubuserconten

[2015-04-13 22:52] ericadeahl commented on #716
@vz3 could you please post the rest of the sketches

[2015-04-13 23:33] ericadeahl commented on #666
@vz3 and I conducted 3 interviews last week and are scheduling 2 more. Notes and synthesis here:
https://drive.google.com/open?id=0B4-jR19N8nwmfnY3THZ1VjVtNVpvTGxQdXZIanZuTjZLODJ6VFRFYUE4bnpLQ3pXVjRmVGc&authuser=0

[2015-04-14 17:58] ramirezg commented on #712
I was able to recreate the problem using elasticsearch 0.2 which is on cloundfoundry. Basically, with es 0.2 `release_agency_slug` is not treated as a whole string, rather it is analyzed and indexed as multiple words.

[2015-04-14 17:59] khandelwal commented on #712
What's the version of elasticsearch that we're using?

[2015-04-14 18:01] ramirezg commented on #712
1.4.2

[code]

[2015-04-14 18:03] khandelwal commented on #712
That sounds like a significant version difference. Can we get our
CloudFoundry instance updated?

On Tue, Apr 14, 2015 at 2:01 PM, Gabriel Ramirez <notifications@github.com>
wrote:

[2015-04-14 19:04] ramirezg commented on #712
18F/DevOps/issues/310

[2015-04-14 20:17] ramirezg commented on #728
projectkrang/foia-hub/pull/21

[2015-04-14 20:31] khandelwal opened #734 "Collect screenshots for current application"

[2015-04-14 20:32] khandelwal commented on #734
![8_-_developers](https://cloud.githubusercontent.com/assets/636752/7146747/c8cc69ba-e2c3-11e4-945c-39ea93d75ad7.png)

[2015-04-14 20:32] khandelwal commented on #734
![7_-_about_this_project](https://cloud.githubusercontent.com/assets/636752/7146755/d3945b64-e2c3-11e4-925c-e8f300093e18.png)

[2015-04-14 20:32] khandelwal commented on #734
![6_-_all_agencies](https://cloud.githubusercontent.com/assets/636752/7146762/d8772594-e2c3-11e4-9639-c75bb9f3c3d2.png)

[2015-04-14 20:32] khandelwal commented on #734
![4_-_agency_landing](https://cloud.githubusercontent.com/assets/636752/7146767/ddac03c2-e2c3-11e4-8858-40a6ba419a8f.png)

[2015-04-14 20:32] khandelwal commented on #734
![3_-_search_results](https://cloud.githubusercontent.com/assets/636752/7146772/e481cc2c-e2c3-11e4-8ce5-c6e4560b1dbd.png)

[2015-04-14 20:33] khandelwal commented on #734
![5_-_agency_landing_2](https://cloud.githubusercontent.com/assets/636752/7146784/f3dac84a-e2c3-11e4-9981-5d7dc29c421b.png)

[2015-04-14 20:33] khandelwal commented on #734
![2_-_home_-_search](https://cloud.githubusercontent.com/assets/636752/7146786/f8ee05d6-e2c3-11e4-816c-635d0894641d.png)

[2015-04-14 20:37] khandelwal commented on #734
![1_-_home](https://cloud.githubusercontent.com/assets/636752/7146858/8553a1b6-e2c4-11e4-9be2-1d78b3af1f3d.png)

[2015-04-14 20:48] khandelwal commented on #734
![screen shot 2015-04-14 at 4 48 20 pm](https://cloud.githubusercontent.com/assets/636752/7147041/16f0ee66-e2c6-11e4-915f-95336298d6df.png)

[2015-04-14 20:55] khandelwal commented on #734
![screen shot 2015-04-14 at 4 55 34 pm](https://cloud.githubusercontent.com/assets/636752/7147194/1d7c5d82-e2c7-11e4-88e1-5d341e236ec0.png)

[2015-04-15 18:08] rjmajma commented on #666
Please add links to notes here.

[2015-04-15 18:10] rjmajma commented on #668
Can we link to the research plan here?

[2015-04-15 18:14] rjmajma commented on #711
- [ ] Fix this for our current staging instance

[2015-04-15 18:17] rjmajma commented on #718
I will play the ukelele.

[2015-04-15 18:18] ramirezg commented on #711
Ticket submitted to devops along with the upgrade of es.

[2015-04-15 18:20] rjmajma commented on #722
All documents written up.

[2015-04-15 18:21] rjmajma commented on #722
Raph's cold practice pitch was pretty good.

[2015-04-15 18:21] #722 closed

[2015-04-15 18:22] rjmajma commented on #724
Raph to add notes about lexis nexus and westlaw.

[2015-04-15 18:23] #734 closed

[2015-04-15 18:23] rjmajma commented on #734
https://github.com/18F/foia-hub/wiki/Documentation-of-the-current-status-of-openFOIA

[2015-04-15 18:31] ericadeahl commented on #668
The research plan is here:

https://docs.google.com/a/gsa.gov/document/d/1WRqK4QkfAu_EZALjVhOHiC5bZoU9wW6DbGG795BGe68/edit

I expanded on the goals we discussed at the planning meeting, and this afternoon will flush out the structure for the interviews

[2015-04-15 19:11] ramirezg opened #735 "Test OCR for quality"

[2015-04-15 20:34] khandelwal commented on #719
So, it turns out that @theresaanna has some free time and has graciously agreed to help out with this issue. I think it's self contained enough to be handed over pretty easily.

I'm assigning this to her, and we can that much closer to releasing soon.

[2015-04-15 21:36] konklone commented on #684
Go to Route 53, visit the `open.foia.gov` hosted zone, create a new record set, select "Alias", and then select the correct production ELB from the dropdown.

[2015-04-15 21:36] konklone commented on #684
Our production ELB is mis-tagged for some reason, which I've raised to our DevOps team.

[2015-04-16 18:59] ramirezg commented on #735
Notes: I reconverted the 2300+ documents on `keystone` from State and Foiaonline, of these documents only 7 needed to be ocrd. All of the documents appeared to be scanned memos/emails and average around 610 extracted word.
Nextsteps: test older documents.

[2015-04-16 22:24] vz3 commented on #672
Done w #714

[2015-04-16 22:24] #672 closed

[2015-04-16 22:25] vz3 opened #738 "Design contact updater based on studio feedback"

[2015-04-16 22:34] vz3 commented on #716
# MM
![image](https://cloud.githubusercontent.com/assets/582918/7192766/a119adc0-e466-11e4-8ffc-81fa7b9bd94a.png)
![image](https://cloud.githubusercontent.com/assets/582918/7192770/a689d636-e466-11e4-9f9b-0143522ca26f.png)

# VZ
![image](https://cloud.githubusercontent.com/assets/582918/7192772/adcfb33e-e466-11e4-9d78-323ebfb2185c.png)
![image](https://cloud.githubusercontent.com/assets/582918/719

[2015-04-16 23:12] ericadeahl commented on #724
Here's a google doc I started in which I'm collecting screenshots from various sources, categorized by feature (basic search, advanced search, document view, agency page) and adding notes about interesting features. Please review and add any additional sources @vz3  @rjmajma

https://docs.google.com/document/d/1m6GUlfh--SjbtYQ49ovC9c3q3mOvaDdeZX3z9xycvuA/edit

[2015-04-16 23:21] ericadeahl commented on #716
Thank you! Closing this issue. Also saving these docs in Drive along with our planning notes:

https://drive.google.com/drive/u/0/#folders/0BwIuL4Fu2PENVFhRXzdIN1FHdFE/0B5ZkkkN_EN7iZklXUTZvcVpQX3M/0B4-jR19N8nwmflBLRzE1VS1oZVVRUDd2NHpQT1Y4WWl5Q0NxLWRadGh4Ykh5bDg2b0VYRjg

[2015-04-16 23:21] #716 closed

[2015-04-17 15:09] ramirezg commented on #735
Accuracy + Speedup -- https://github.com/18F/doc_processing_toolkit/pull/8

[2015-04-17 17:04] khandelwal commented on #724
When we're done, can we post the PDF of the output here? Our public audience can not see our work in Google Docs.

[2015-04-17 20:30] ramirezg opened #740 "Migrate apps to new CF version & stack"
3 options
[code]
- [ ] production apps
- [x] openfoia staging
- [ ] krang staging

[2015-04-17 21:10] ramirezg commented on #740
Update: I just tried to upgrade, but the app crashed due to a Python issue. Don't upgrade until DevOps says the Python issue is resolved.

[2015-04-20 12:37] khandelwal commented on #740
Is there a bug tracking the Python issue?

[2015-04-20 13:15] khandelwal commented on #719
I've added in the correct definitions to the pull request.

[2015-04-20 13:43] ramirezg commented on #740
Devops has a trello card. I'll keep tabs on it.

[2015-04-20 14:59] khandelwal commented on #734
We have new banner text.

![screen shot 2015-04-20 at 10 55 43 am](https://cloud.githubusercontent.com/assets/636752/7232922/449fe2a6-e74c-11e4-8969-2543aa0ff8cd.png)

And the new corresponding home page:
![screen shot 2015-04-20 at 10 56 18 am](https://cloud.githubusercontent.com/assets/636752/7232931/4db6038e-e74c-11e4-92fc-7b450e1003bb.png)

[2015-04-20 16:25] khandelwal commented on #686
A newer issue replaces this one: https://github.com/18F/foia-hub/issues/719

[2015-04-20 16:25] #686 closed

[2015-04-20 16:29] #417 closed

[2015-04-20 19:07] ramirezg commented on #735
@rjmajma I've added [documentation](https://github.com/18F/doc_processing_toolkit/pull/8/files#diff-04c6e90faac2675aa89e2176d2eec7d8R44) on the ORC methodology and sources that I researched.

[2015-04-20 21:19] ramirezg commented on #687
I think we might be able to work around this issue by duplicating the app in the yaml file. The first only deploys one instance while updating the data and the second can deploy multiple instances, but doesn't update the database.

manifest file
[code]

[2015-04-20 21:27] vz3 commented on #715
Closed with #732

[2015-04-21 14:32] #728 closed

[2015-04-21 18:03] #641 closed

[2015-04-21 18:05] arowla commented on #687
We solved a similar problem on FEC by using the CF_INSTANCE_INDEX
https://github.com/18F/openFEC/blob/master/run_api.py

[2015-04-21 18:43] ramirezg commented on #687
@arowla This is great, thanks!

[2015-04-21 18:44] khandelwal commented on #687
:heart: @arowla for jumping in and showing us how it's done. We're using your solution.

[2015-04-21 18:49] arowla commented on #687
Glad y'all appreciated the drive-by. :car:

[2015-04-21 18:51] ramirezg commented on #687
Solved with 18F/foia-hub/pull/742

[2015-04-21 19:39] ramirezg commented on #729
https://github.com/projectkrang/foia-hub/pull/22

[2015-04-21 20:13] ramirezg commented on #730
Maybe we don't need to connect the models, but we should at least validate agency slugs.

[2015-04-21 20:16] ramirezg commented on #681
https://github.com/18F/foia-hub/issues/729 breaks down the requirements for this issue.

[2015-04-21 20:16] #681 closed

[2015-04-21 21:45] #715 closed

[2015-04-21 21:50] vz3 commented on #738
Dupe of #723

[2015-04-21 21:50] #738 closed

[2015-04-22 15:19] khandelwal commented on #718
Requests grow and FOIA producing
We all go working
Some go searching
Everyone's got to make a living

Don't be fooled by the docs that I got
I'm still, I'm still FOIA from the block,
Used to have a little, now I have a lot
No matter where I go, I know where I came from (iron mountain, ya'll)

[chorus]

From in cardboard boxes to email bits
To On the 6 to radio to headline clips
I stay grounded as

[2015-04-22 15:20] khandelwal commented on #718
Lyrics are presented with artistic license, and a certain amount of fun. Opinions expressed are mine.

[2015-04-22 15:25] corizarek commented on #718
Bravo, @khandelwal. Bravo. Never pegged you as a J-Lo enthusiast but I like it.

[2015-04-22 15:37] #718 closed

[2015-04-22 17:07] khandelwal commented on #668
Raph to review.

[2015-04-22 17:08] khandelwal commented on #670
Planning wasn't ready so this wasn't schedule.

1 is scheduled. 2 ephemeral.

[2015-04-22 17:11] #719 closed

[2015-04-22 21:01] vz3 commented on #597
# Current state
In `responsive-nav-redux` branch

## Large
![screen shot 2015-04-22 at 4 59 01 pm](https://cloud.githubusercontent.com/assets/582918/7285213/0d7c214c-e911-11e4-8f58-ca243baa07c8.png)

## Medium
![screen shot 2015-04-22 at 4 59 14 pm](https://cloud.githubusercontent.com/assets/582918/7285214/0edbeacc-e911-11e4-82be-9e4c54f56407.png)

## Small
![screen shot 2015-04-22 at 4 59 30 pm](

[2015-04-22 21:06] khandelwal commented on #597
I like those

[2015-04-22 21:40] rjmajma commented on #597
:+1:

[2015-04-23 14:39] #735 closed

[2015-04-23 15:35] ramirezg commented on #685
Two tabs we should keep on eye on:
[Capacity Analysis Report](https://docs.newrelic.com/docs/apm/reports/other-performance-analysis/capacity-analysis-report) - Will tell us if the number of instances are meeting capacity.
[Availability report](https://docs.newrelic.com/docs/alerts/alert-policies/downtime-alerts/availability-monitoring) - ping the app every 20 seconds to check if it's available. Ea

[2015-04-23 18:05] ramirezg opened #744 "Load Test"
Load test site to make sure it can at least run with 20 concurrent users.

[2015-04-23 18:06] khandelwal opened #745 "RDS and ES Instance"
We need an RDS and Elastic Search instance so that our front-end developers and others that can help us don't need to setup the whole shebang

[2015-04-23 18:06] ramirezg opened #746 "Agenda for regroup"
Create an agenda for the regroup meeting.

[2015-04-23 18:08] ramirezg opened #747 "Contact Scrubbing Article"
Article about the process of cleaning and validating FOIA contacts.

[2015-04-23 18:09] khandelwal opened #748 "Find agency FOIA libraries we're going to get documents from"
A list of links to various agency/office FOIA libraries that we're going to download and display documents from for the very first release of Krang.

[2015-04-23 18:10] khandelwal opened #749 "What changes do we need to make to current Krang"
A list of what changes we need to make to the current implementation of Krang, in terms of it's user experience and design so that we can better release at the end of the sprint.

[2015-04-23 18:10] ramirezg opened #750 "Contact Updater Language"
Raph will take a first cut at copy and nudges we can provide to make sure we encourage agencies to update appropriately.

[2015-04-23 18:13] ramirezg commented on #745
Documentation for using ES on AWS. https://www.elastic.co/webinars/elasticsearch-on-aws

[2015-04-23 21:23] vz3 commented on #749
-Document landing page: Change dimensions of preview window
-Krang home: Copy additions: "What is this thing?"
-Sitewide: Pre-alpha banner?

[2015-04-24 13:37] khandelwal commented on #689
Release have been tagged in anticipation of going to production.

https://github.com/18F/foia-hub/releases/tag/0.1
https://github.com/18F/foia/releases/tag/0.1

[2015-04-24 16:30] #712 closed

[2015-04-24 16:32] ramirezg commented on #601
I built a small [scraper](https://github.com/ramirezg/ga_to_usagov_scraper) to test how queries on openfoia match to usa search

[2015-04-24 16:32] #601 closed

[2015-04-24 20:47] ramirezg commented on #745
https://github.com/projectkrang/foia-hub/pull/23

[2015-04-27 14:07] ramirezg commented on #747
I have some time to start a rough draft.

[2015-04-27 14:42] khandelwal opened #753 "Trying to access the FOIA admin screen results in a 500 error, instead of 404."
Found by @seanherron. Let's fix this.

[2015-04-27 15:57] khandelwal opened #754 "Clean up New Relic"
We seem to have more FOIA related apps in New Relic than exist at the current point in time. There should really only be two applications: the staging one, and production.

Let's clean those up.

[2015-04-27 16:05] ramirezg commented on #747
[Here is the first rough draft](https://docs.google.com/document/d/1_JnWm9_hLRwr6gh5u2KWzqQNh5a7wbU6l-IDLeUvRy4/edit) I'd like to give it one more pass before having it reviewed.

[2015-04-27 16:21] ramirezg commented on #754
@dlapiduz removed the extra apps, thanks! We still have krang-staging because it's up.

[2015-04-27 16:21] #754 closed

[2015-04-27 21:10] ramirezg opened #759 "Add the 100th Agency to openFOIA"

[2015-04-27 21:13] rjmajma commented on #759
We need to track down things like:

Agency name
Website
Request Service Center
Liaison
FOIA request contact info

It's unlikely they will have a library or processing times.

[2015-04-27 21:23] rjmajma opened #760 "URL for foia.gov is in HTTPS"
Unfortunately, foia.gov isn't yet on HTTPS. We currently link to this URL in our nav: https://www.foia.gov/

This should be fixed.

[2015-04-28 12:58] ramirezg opened #763 "Move setting shared between production and staging into notdev.py"

[2015-04-28 13:21] khandelwal commented on #760
Fixed by https://github.com/18F/foia-hub/pull/761

[2015-04-28 13:21] #760 closed

[2015-04-28 13:23] khandelwal commented on #747
There was a link here. But it's gone?

[2015-04-28 14:15] ramirezg commented on #747
@khandelwal k it's back up

[2015-04-28 15:32] rjmajma commented on #692
No changes were suggested. Closing this.

[2015-04-28 15:32] #692 closed

[2015-04-28 15:32] rjmajma commented on #690
No changes were suggested. Closing this.

[2015-04-28 15:32] #690 closed

[2015-04-28 15:41] ramirezg opened #765 "Update with 2014 processing times"
New processing times are out.

[2015-04-28 15:56] ramirezg commented on #759
https://github.com/18F/foia/pull/111

[2015-04-28 15:58] ramirezg commented on #765
https://github.com/18F/foia/pull/112

[2015-04-28 16:11] ramirezg commented on #763
https://github.com/18F/foia-hub/pull/764

[2015-04-28 16:36] batemapf opened #766 "search for "Department of State" returns too many results"
https:XXXXX/agencies/?query=Department+of+State returns:

Displaying 19 results for
“Department of State”

    Department of State

    The Department of State advises the President and leads the nation in foreign policy issues. The State Department negotiates treaties and agreements with foreign entities, and represents the United States at the United Nations.
    Department of Energy

    The De

[2015-04-28 19:13] rjmajma commented on #668
I've reviewed and left comments for Erica.

[2015-04-28 21:27] #685 closed

[2015-04-29 13:45] #753 closed

[2015-04-29 14:01] #709 closed

[2015-04-29 14:01] #687 closed

[2015-04-29 14:01] #684 closed

[2015-04-29 14:02] ramirezg commented on #680
Upgrades here https://github.com/18F/doc_processing_toolkit/pulls

[2015-04-29 14:03] #615 closed

[2015-04-29 14:04] ramirezg commented on #614
Solved with the instances env var.

[2015-04-29 14:04] #614 closed

[2015-04-29 15:30] rjmajma commented on #748
Agencies and offices:
Department of Homeland Security
- We can skip USCIS given that their requests are largely first person.
Department of Defense
Department of Health and Human Services
U.S. Department of Justice
- We can probably skip the FBI for the time being, given how much that would be to process
Social Security Administration
Department of Veterans Affairs
- We can skip any benefits or he

[2015-04-29 15:43] rjmajma commented on #750
Completed a first pass on these.

[2015-04-29 15:48] khandelwal commented on #750
Can you put the language here?

[2015-04-29 15:49] rjmajma commented on #750
It'll be a bit hard to understand, but here is a link to the sheet:

https://docs.google.com/a/gsa.gov/spreadsheets/d/1gp4EPHTBfNFRoba-AWvmLZ_HEtpzPUeDaPJXApIalzE/edit#gid=0

[2015-04-29 16:06] khandelwal opened #769 "List of agencies/offices without a FOIA Library link"
We need to provide DOJ with a list of the agencies/offices that don't have a specific FOIA Library link. In return, hopefully they will provide us with those links we might have missed.

[2015-04-29 16:11] khandelwal commented on #766
This is expected behavior. A number of the descriptions for agencies contain the words 'Department' and/or 'United States' which yields numerous results for 'Department of State'. There are a couple things that make this behavior acceptable:

1. Searching for text that might be in an agency name will result in auto-complete results. Users are most likely to click those.

2. The agency name shows u

[2015-04-29 16:11] #766 closed

[2015-04-29 16:15] khandelwal commented on #765
This has been merged. It needs to

- [ ] Be deployed on staging and verified.
- [ ] Be deployed into our production instance.

[2015-04-29 16:16] rjmajma commented on #765
We should also do a spot check on any copy on the site to make sure we accurately reflect having 2014 data. I doubt we are that explicit, but we should make sure.

[2015-04-29 16:25] khandelwal commented on #765
I don't think we have any of that copy. We should though. Maybe on the developer resources page?

[2015-04-29 16:27] rjmajma commented on #765
+1

How about:
`Much of the data we use is collected from Chief FOIA Officer Reports from data collected in 2014. We try to keep as current as possible, so please point out when things are out of date here [link].`

[2015-04-29 16:27] khandelwal opened #770 "Data Loading is failing in production and staging"
It looks like data loading is failing in production and staging.

[code]

[2015-04-29 16:29] khandelwal commented on #765
I think we only use the processing times, so we should specifically call that out. The contact information does not come from that source.

[2015-04-29 16:30] rjmajma commented on #765
Good point. Updated above.

[2015-04-29 16:35] khandelwal commented on #765
I'm going to add that copy to the 'About Page'

[2015-04-29 17:37] khandelwal commented on #744
The site has been load tested multiple times. In the process, we added file-system based caching to openFOIA.

Now, with 4 instances, we can support about 800 concurrent users. It's unlikely at this point, that we'll anything close to that.

[2015-04-29 17:38] khandelwal commented on #744
Related pull requests:

https://github.com/18F/foia-hub/pull/757
https://github.com/18F/foia-hub/pull/755
https://github.com/18F/foia-hub/pull/752
https://github.com/18F/foia-hub/pull/768

[2015-04-29 17:39] #744 closed

[2015-04-29 17:39] #748 closed

[2015-04-29 17:40] khandelwal commented on #597
We have a mobile nav that's made it all the way to production. If there are remaining items that need to be done, we should open separate tickets for them.

[2015-04-29 17:40] #597 closed

[2015-04-29 17:51] ramirezg commented on #770
So it looks like the tmp dir was an issue. However, now were are getting a new issue..
[code]

[2015-04-29 18:00] ramirezg commented on #770
It appears that `Stats.objects.filter(agency=agency, office=office).delete()` is not actually deleting the old object.

[2015-04-29 18:21] rjmajma commented on #666
@ramirezg Needs to put notes up.

[2015-04-29 18:22] rjmajma commented on #668
Use the research plan to inform future interviews.

[2015-04-29 18:22] #668 closed

[2015-04-29 18:22] rjmajma commented on #670
Other interviews still need to be scheduled.

[2015-04-29 18:22] #689 closed

[2015-04-29 18:26] #724 closed

[2015-04-29 18:28] rjmajma commented on #746
A debrief on the user research.
Big bold discussion about what happens next.

[2015-04-29 18:33] ramirezg commented on #745
separate the vagrant setup from Krang.

[2015-04-29 19:01] khandelwal commented on #770
I think it's worth figuring out what's going on here.

[2015-04-29 21:13] ramirezg commented on #769
[Here is a first pass at the list](https://gist.github.com/ramirezg/6075af2280f82e2d0eac) I'll double check tomorrow.

[2015-04-29 21:28] rjmajma commented on #750
I'll consider this closed since the language has been provided.

[2015-04-29 21:28] #750 closed

[2015-04-29 21:36] khandelwal commented on #765
We're going to use this sentence instead:

```The median processing times we use are from Annual FOIA Reports from data collected for 2014.```

Now approved by the DOJ.

[2015-04-29 21:40] rjmajma commented on #765
You closing this or keeping it open? Make up your mind.

[2015-04-29 21:40] khandelwal commented on #765
![screen shot 2015-04-29 at 5 40 03 pm](https://cloud.githubusercontent.com/assets/636752/7402054/cfc819f6-ee96-11e4-948f-a79dd3585c98.png)

[2015-04-29 21:40] khandelwal commented on #765
This is what it's going to look like? You ok with that Raph?

[2015-04-29 21:42] rjmajma commented on #765
Fine for now. Later we should update and say where all our data comes from.

[2015-04-29 21:52] ramirezg commented on #666
ok, my notes are up.

[2015-04-29 21:52] #666 closed

[2015-04-30 17:57] ramirezg opened #773 "Use only one s3 bucket for Krang"
django storages was not designed to work with two buckets. The override is causing issues with migrations.

[2015-04-30 18:05] ramirezg commented on #773
Using the same bucket with two locations like [this](http://stackoverflow.com/questions/10390244/how-to-set-up-a-django-project-with-django-storages-and-amazon-s3-but-with-diff/10825691#10825691) might go more smoothly.

[2015-04-30 18:16] ramirezg commented on #770
This should be fixed now.

[2015-04-30 18:16] #770 closed

[2015-04-30 18:20] #763 closed

[2015-04-30 18:20] #759 closed

[2015-04-30 18:35] ramirezg commented on #745
Ready for review [here](https://github.com/projectkrang/openfoia_vagrant/pull/1)

[2015-04-30 20:07] ramirezg commented on #711
It seems that the upload file is too large

[code]

[2015-04-30 20:19] ramirezg opened #775 "Loading commands timeout on Cloud Foundry"
This means that we will have to find a way to load agency data independently of the deploy functions.

[2015-04-30 21:34] ramirezg commented on #775
@arowla, you solved our last loading issue. Any thoughts on this one?

[2015-05-01 13:52] ramirezg commented on #775
One possible solution: An EC2 instance with access to our production database. Files get uploaded via scheduled tasks.

[2015-05-01 20:51] ramirezg opened #776 "Unable to clone repo"
Data repo can't be cloned into the temp files to load agency contacts
`ERR Cloning into '/home/vcap/tmp/tmpq2pou6b2'...`

[2015-05-01 21:03] khandelwal commented on #776
So data loading was working before. Why is it broken now? We got the data
in somehow the first time.

Sent from my iPhone

On May 1, 2015, at 4:51 PM, Gabriel Ramirez <notifications@github.com>
wrote:

We can't clone the data repo into the temp files to load agency contacts
ERR Cloning into '/home/vcap/tmp/tmpq2pou6b2'...

—
Reply to this email directly or view it on GitHub
<https://github.com/18F

[2015-05-01 21:07] ramirezg commented on #776
I'm asking about it but it looks like we are getting clone error across the board.

[code]

[2015-05-01 21:24] ramirezg commented on #776
Also, gunicorn is forcing app commands multiple times even though we only have one instance.

I downloaded the contact data into our repo and deployed again.
[code]
The loading function appears to also be breaking because duplicates instances are loading data simultaneously.

[2015-05-01 21:25] khandelwal commented on #776
Didn't we fix this with the instance number thing?

Sent from my iPhone

On May 1, 2015, at 5:24 PM, Gabriel Ramirez <notifications@github.com>
wrote:

Also, gunicorn is forcing app commands multiple times even though we only
have one instance.

I downloaded the contact data into our repo and deployed again.

2015-05-01T17:11:24.28-0400 [App/0]      OUT "----- Applying Migrations -----"
2015-05-01

[2015-05-01 21:27] ramirezg commented on #776
@khandelwal Yes, but this doesn't happen with waitress.

[2015-05-03 19:27] ramirezg commented on #776
I investigated the issue more closely today. `git clone` is working across the board even though it shows an error message.
Also, Gunicorn appears to be running with the `WEB_CONCURRENCY` environment variable value set to `4` causing the app to start 4 times.

It seems that we'll have to design another way of controlling the loading data if we want to use Gunicorn and run more than 1 instance.

[2015-05-04 02:18] ramirezg commented on #776
This should fix it. 18F/foia-hub/pull/777

[2015-05-04 12:20] khandelwal commented on #776
You are mentioning two different problems here. How are they related?

The first is that cloning is failing.
The second is that loading data is being attempted multiple times.

Is the first happening also because of the second? How did you verify that?

[2015-05-04 12:22] khandelwal commented on #773
Please provide more details around what sorts of issues you're seeing. Are there logs?

[2015-05-04 12:45] khandelwal commented on #746
We had a regroup, and an agenda was loosely followed. There is no story map update unfortunately.

[2015-05-04 12:45] #746 closed

[2015-05-04 12:49] ramirezg commented on #776
Initially I thought the cloning was failing because Cloud Foundry returns error for clonings like this```ERR Cloning into '/home/vcap/tmp/tmpq2pou6b2'...```. However, when I looked more closely I found that the cloning was actually working despite the error statements. The real reason the code was  failing was because 4 instances of `load_agency_contacts` were running simultaneously which sometime

[2015-05-04 13:44] ramirezg commented on #773
Mainly the migrations change depending on the bucket we are using. We'll need to find a better way to override the default.

[code]

[2015-05-04 14:52] khandelwal commented on #765
Text is updated. Production is updated with new text and data.

[2015-05-04 14:52] #765 closed

[2015-05-04 14:55] #776 closed

[2015-05-04 15:45] ramirezg commented on #769
@rjmajma Should we just send this over to Jake?

[2015-05-04 15:53] khandelwal commented on #769
Before we do that, let's go through this list, and see why we might have missed picking up any reading rooms.

[2015-05-04 15:54] khandelwal commented on #769
Feel free to assign this to me if you like.

[2015-05-04 17:47] ramirezg commented on #711
Both staging and hub space have ES ready to go.

[2015-05-04 18:03] ramirezg commented on #688
[Analytics items](https://docs.google.com/a/gsa.gov/spreadsheets/d/1RnUxOzEomkf4d5aWi6m4kggWa4PRQ01gL9a3fgGPxm8/edit#gid=0) added so far

[2015-05-04 18:11] rjmajma commented on #769
I believe Gabriel is on an airplane at the moment, so assigning to you Shashank.

[2015-05-05 13:29] khandelwal opened #778 "Department of Defense Southern Command has wrong website in our manual dataset"
This line:
https://github.com/18F/foia/blob/master/contacts/manual_data/DoD.yaml#L53

needs to be:
http://www.southcom.mil/foia/Pages/FOIA.aspx

If reading rooms get run again, it will fix the reading room for Southcom.

[2015-05-05 15:56] khandelwal commented on #769
I've done an exhaustive review of the missing reading rooms.

[2015-05-05 15:56] khandelwal commented on #769
Department of Agriculture--Research, Education & Economics
  FOIA website is wrong: http://www.ars.usda.gov/Services/docs.htm?docid=1398

Department of Agriculture--Rural Development
  FOIA website is wrong: http://www.rd.usda.gov/contact-us/freedom-information-act-foia
  Note: There is no reading room on the page.

United States Postal Service--USPS Headquarters Office
  Note: Code should have pi

[2015-05-05 16:05] khandelwal opened #779 "Run data update"
On a review of missing reading rooms, it's clear that we haven't run a full data update recently.

Run that data update.

There are some FOIA webpages that would be picked up by a new data load. Check that this happens, using the list here: #769
- [x] Test in staging
- [ ] Promote to production.

[2015-05-05 16:10] khandelwal opened #780 "Reading room scraper doesn't pick up reading room links"
In certain cases, the reading room scraper doesn't pick up reading room links that it supposedly should (because the link text looks correct).

Here's an example:
Department of Agriculture--Food, Nutrition & Consumer Services
Code should pick up: http://www.fns.usda.gov/foia/electronic-reading-room

There are more examples in #769

[2015-05-05 16:17] khandelwal opened #781 "Update reading room scraper with more link text"
The reading room scraper looks for links with certain text. Update that text, with new findings.

For example:
FOIA Electronic Library
frequently requested records

Check #769 for more examples, in case I've missed some where.

[2015-05-05 16:17] khandelwal opened #782 "There are a number of reading room links to add to the manual data"
See the list on #769

[2015-05-05 16:22] ozzyjohnson commented on #776
FYI - Late to the party, but just to confirm, those cloning errors are an effect of the way git sends certain messages to stderr.

For example:

    git clone https://github.com/cloudfoundry/python-buildpack.git 2> errors.txt
    cat errors.txt
    Cloning into 'python-buildpack'...

There's an open story about a future workaround for the confusion here:

https://www.pivotaltracker.com/n/projects/

[2015-05-05 17:09] ozzyjohnson commented on #711
FYI - These (hub, staging) are each set with 2G heap and 500M maximum doc size.

[2015-05-05 17:14] rjmajma commented on #769
...well okay then. That's a lot of great work.

[2015-05-05 17:44] khandelwal commented on #769
- [ ] Send list of agencies with no reading room to Jake.

[2015-05-06 16:29] vz3 commented on #723
![desktop copy 6](https://cloud.githubusercontent.com/assets/582918/7497949/7949aa68-f3eb-11e4-94f2-fe09639872c7.png)
![desktop copy 7](https://cloud.githubusercontent.com/assets/582918/7497953/794d7b16-f3eb-11e4-9e96-4e868d5d7716.png)
![desktop copy 8](https://cloud.githubusercontent.com/assets/582918/7497951/794b9f4e-f3eb-11e4-8ee7-d0cd135463c4.png)
![desktop copy 9](https://cloud.githubusercont

[2015-05-06 23:04] ramirezg commented on #745
Vagrant box is merged and in use

[2015-05-06 23:04] #745 closed

[2015-05-07 06:06] ericadeahl commented on #749
Here is a prioritized list of things to update. I think we should go ahead and release the current version at open.foia.gov/records but hit the high priority and preferably also the medium priority items on this list before visibly linking to the page from openFOIA.

**High Priority:**

Global:
- [ ] remove header
- [ ] add alpha banner - let’s copy the existing openFOIA narrow top black bar and a

[2015-05-07 06:18] ericadeahl commented on #717
First pass based on results of the design studio:

![agency detail](https://cloud.githubusercontent.com/assets/5911280/7509484/22250b0a-f446-11e4-80f0-e2a5767dcbd6.png)

[2015-05-07 12:27] vz3 commented on #723
A more fleshed out take on a centralized agency. Probably going to want to take down the full width to ~18col in the final.
![desktop copy 15](https://cloud.githubusercontent.com/assets/582918/7515198/d919692c-f492-11e4-8146-64cd3d9442d4.png)

[2015-05-07 14:54] ramirezg commented on #679
https://github.com/projectkrang/foia-hub/pull/24

[2015-05-07 17:33] ericadeahl commented on #670
@rjmajma could you please add your notes from Marty's interview here: https://drive.google.com/drive/u/0/#folders/0BwIuL4Fu2PENVFhRXzdIN1FHdFE/0BxG1cKzKArZmSWlMYzFmcWQzbTA/0BxG1cKzKArZmSklMdUJFOWwzTGM/0B4-jR19N8nwmfnY3THZ1VjVtNVpvTGxQdXZIanZuTjZLODJ6VFRFYUE4bnpLQ3pXVjRmVGc/0B4-jR19N8nwmfk5OVGxVMVBYVmh2dkdYejBqTjVESmQ2WlZZYjVHTmtXTjBkTENEYWtnZDg

[2015-05-07 18:41] khandelwal commented on #747
I've done a quick review of this.
@rjmajma  You'll want to take a look too.

[2015-05-07 18:59] rjmajma commented on #670
I took notes on VZ's computer, so he would have to add them. Hey @vz3!

[2015-05-07 20:32] vz3 commented on #749
Here's how things look in code at the moment.

## Home
![screen shot 2015-05-07 at 4 30 45 pm](https://cloud.githubusercontent.com/assets/582918/7525340/97d81c62-f4d6-11e4-84f4-7d12a2fa8dd7.png)

## Search results
![screen shot 2015-05-07 at 4 30 16 pm](https://cloud.githubusercontent.com/assets/582918/7525341/9983f680-f4d6-11e4-88d1-c53acb019dda.png)

## Record landing
![screen shot 2015-05-07 at

[2015-05-07 20:39] khandelwal commented on #717
This is ready to be implemented. We'll iterate on the design a little bit later.

[2015-05-07 20:39] #717 closed

[2015-05-07 20:41] rjmajma opened #784 "Implement FOIA Library Refresh - #717"
Erica's designed a new take on our agency landing page that combines it with a FOIA library. The design can be found in #717.

[2015-05-07 20:42] khandelwal commented on #723
Let's implement this.

[2015-05-07 20:42] #723 closed

[2015-05-07 20:42] ramirezg commented on #723
These look great! :+1:

[2015-05-07 20:42] rjmajma opened #785 "Implement Design for Contact Updater - #723"
VZ completed design for the contact updater. It's in #723. It's likely this will have to be broken up into numerous tickets.

[2015-05-07 20:43] khandelwal commented on #747
Let's do a second draft, but we can track that in a separate issue.

[2015-05-07 20:43] #747 closed

[2015-05-08 18:07] #769 closed

[2015-05-08 18:07] khandelwal commented on #778
There's a pull request to fix this now. Once it's merged, we can close this.

[2015-05-11 18:09] #778 closed

[2015-05-11 20:10] ramirezg opened #786 "Add both names and slugs to Krang Doc model"
Krang should store both names and slugs within the Document model.

[2015-05-12 14:55] ramirezg commented on #779
I can take care of the update.

[2015-05-12 21:21] vz3 commented on #723
Iterating on the design — dropdown navigation for decentralized agencies.

## Agency selection
![desktop copy 6](https://cloud.githubusercontent.com/assets/582918/7598823/27c85c7c-f8cb-11e4-8366-1e0e969f9ce8.png)
![desktop copy 7](https://cloud.githubusercontent.com/assets/582918/7598826/27cdc928-f8cb-11e4-834e-82fee8693132.png)
![desktop copy 8](https://cloud.githubusercontent.com/assets/582918/7

[2015-05-13 15:35] khandelwal opened #787 "Copy on home page says we have 99 agencies, but we actually have a 100"
Update the copy.

![screen shot 2015-05-13 at 11 34 57 am](https://cloud.githubusercontent.com/assets/636752/7614339/29fe316c-f964-11e4-8914-eabd5512ba1d.png)

[2015-05-13 18:27] #787 closed

[2015-05-14 15:17] #589 closed

[2015-05-14 17:50] ramirezg commented on #779
Update: https://github.com/18F/foia/pull/114 -- some data was lost so I need to do some clean-up.

[2015-05-14 17:51] rjmajma opened #789 "2nd Draft of Technical Blog Post"

[2015-05-14 17:51] rjmajma opened #790 "First Draft PM Blog Post"

[2015-05-14 17:51] rjmajma opened #791 "First Draft research blog post"

[2015-05-14 17:52] ramirezg opened #792 "Contact Updater Backend/JS Changes"
Backend
- [ ] make list based on designs

JS
- [ ] Type-ahead integration
- [ ] Check server validation

[2015-05-14 17:53] ramirezg opened #793 "Repository Cleanup"
- [ ] foia repo
- [ ]  foia-hub repo

[2015-05-14 18:56] khandelwal opened #794 "No entry under DOD for Defense"
I did notice that there isn't a listing for one of the components of Defense: the Defense Health Agency (the FOIA.gov page is here: http://www.foia.gov/report-makerequest.html).

(From Amy Bennett)

[2015-05-15 00:04] konklone opened #795 "Update robots.txt to allow traffic"
Whenever it's appropriate, https://open.foia.gov/robots.txt should be updated to allow search engine indexing.

[2015-05-15 14:48] khandelwal opened #796 "Indicating on /agencies page which agencies allow you to submit electronically."
Would be nice to indicate which agencies let you submit FOIAs electronically vs print/fax w/o clicking on each @18F https://open.foia.gov/agencies/

See: https://twitter.com/abtran/status/599219902705061888

[2015-05-15 14:51] khandelwal commented on #796
I think we need to understand more clearly what the user need here is, and why it would be useful.

[2015-05-15 14:59] JoshData opened #797 "UX Review"
Hi all,

Congrats on making it this far with the project. Here are assorted thoughts from going through the site.
### Homepage

What's the purpose of this website? To "open" FOIA is not a helpful answer. The name of the website (openFOIA) doesn't match what the project actually does. (openFOIA is a fine internal name for the project and a fine placeholder for a public name, if that's what it is.)

[2015-05-15 15:03] khandelwal opened #798 "Multi-line H1s on homepage are hard to read"
The blue underlines under your H1's (on the homepage that's "Begin your federal") is, to me, completely blinding. I have extreme difficulty reading all of the multi-line H1s throughout the site.

[2015-05-15 15:04] khandelwal commented on #798
Parent issue: #797

[2015-05-15 15:05] khandelwal opened #799 "Potential character encoding issues in agency descriptions"
On this one (https://open.foia.gov/contacts/united-states-international-boundary-and-water-com), there's a character encoding issue in the agency description (the question mark).

[2015-05-15 15:06] khandelwal commented on #799
Parent issue: #797

[2015-05-15 15:07] khandelwal opened #800 "Suggested changes to flow of information on agency landing page"
I'm not sure what the page is supposed to help me with, and the positions of the elements of the page doesn't seem to have any logic to it. A natural linear structure would be by the chronology of a request:

Before-you-submit info on top. (Why is this rendered differently than other parts of the page?)
Contact information for submitting. (ps, why is "FAX" in all caps?)
How long to wait before I s

[2015-05-15 15:08] khandelwal opened #801 "Provide more guidance on the various contact methods"
Some steps are confusing because of the presentation of semi-redundant information: multiple submission methods and multiple contact points. Options without explanation are confusing.

Does it matter if I choose online, email, FAX, or mail? It would help to prioritize the options. Like, if I'm using openFOIA, it is very unlikely I'm going to go find a FAX machine and use that method. If email exis

[2015-05-15 15:37] khandelwal commented on #801
@JoshData

The order of submission methods helps indicate which ones a user should prefer. (online, email, fax mail). I believe we heard from our users that they sometimes prefer registered mail (for example) because there's a guarantee the request was received by the agency.

However, it sounds like we might want to re-think how we present some of this information -- or at the very least provide

[2015-05-15 15:41] khandelwal opened #802 "Provide more guidance on the various contact methods"
How should I choose which contact method to use if I "Have questions?"? On this page (https://open.foia.gov/contacts/united-states-international-boundary-and-water-com), there are two contacts listed --- but they have the same contact information. So the user first has to contend with a choice, and then it turns out the user didn't actually have a choice to begin with. This was also true on the ot

[2015-05-15 15:42] khandelwal commented on #797
@JoshData Thanks for all the useful feedback. I split these into separate issues to make them easier to think about.

I really appreciate all the effort you clearly spent on going through the site.

[2015-05-15 16:36] digiphile opened #803 "Feature to enable the public "to submit a request to any Federal agency from a single website?""
Are there any plans for a read/write API for FOIA requests, so that third party systems for requesting, tracking and receiving FOIAs could be built on top of the platform?

Are there any plans for to build a backend system connected to that API to help agencies manage and track FOIA requests, like RecordTrac at the local government level?

[2015-05-15 16:38] digiphile opened #804 "Read/write API for FOIA requests, so that third party systems for requesting, tracking and receiving FOIAs could be built on top of the platform?"

[2015-05-15 16:39] digiphile opened #805 "Backend system connected to read/write API to help agencies manage and track FOIA requests, like RecordTrac at the local government level & OGIS audit performance?"

[2015-05-15 16:39] digiphile opened #806 "Analytics.foia.gov to aggregate data & rank agencies by FOIA response times?"

[2015-05-15 17:43] digiphile commented on #805
I saw in the description that the software is not going to be used on the backend, but I'm still going to leave the feature request in.

[2015-05-15 19:00] ramirezg opened #807 "Contact Updater - removing or adding offices"
After the last data update I noticed that a number of offices were removed and others added. We should probably add this functionality to the contact updater.

[2015-05-15 19:23] nsinai commented on #797
Thanks for the feedback @JoshData

[2015-05-15 19:26] #805 closed

[2015-05-16 23:07] andrewbtran commented on #796
I guess it's like on a fast food restaurant's website when it indicates in the paginated listings if a spot has a drive-thru. It'd just be nice to know which agencies make it more convenient for me to make FOIA requests. I might be more compelled to make a request knowing the agency isn't going to make me get out of my car.

[2015-05-18 18:51] ramirezg opened #809 "Office of the Secretary at Interior has incorrect url"

[2015-05-18 18:51] ramirezg commented on #809
https://github.com/18F/foia/pull/115

[2015-05-18 19:19] ramirezg opened #810 "Verify missing offices."
Missing data that needs to be resolved.

### Missing Offices
- Office of Natural Resources Revenue - DOI
- U.S. Joint Forces Command - DOD
- Office of Acquisition & Logistics - VA

### Missing Address
- HUD
- MSPB

[2015-05-19 13:54] #809 closed

[2015-05-19 14:46] ramirezg opened #811 "Update load_agency_contacts.py"
It appears that the original organization of agency contacts has changed. Some pieces of the loading script are breaking with the new data.

- [x] not all service centers have phone numbers
- [x] Removed offices need to be removed from our data.

[2015-05-19 15:49] ramirezg opened #813 "stats_set cannot be used with Agency data"
I was looking closely at the Stats model and realized that using `AgencyObject.stats_set` returns the stats from both the Agency and Office. This bug isn't visible because it only affects agencies that have offices and we don't display stats for them.

We can fix the issue by either a quick patch to the API or changing the Stats model to work like the ReadingRoomUrls model. Personally, I rather re

[2015-05-19 17:28] khandelwal commented on #813
What is the manifestation of the code? Where do we use stats_set?

[2015-05-19 18:02] ramirezg commented on #813
Ok so my bad. This is false alarm. My connect came from [this test](https://github.com/18F/foia-hub/blob/master/foia_hub/tests/test_loading.py#L250), which says is testing for both Office and Agency stats but only tests for office stats.

In general, however, we need to be very carful using the Stats model because `AgencyObject.stats_set` returns the stats for both the AgencyObject and all of its

[2015-05-19 18:09] ramirezg commented on #380
I agencies have just reorganized. We can close this issue.

[2015-05-19 18:09] #380 closed

[2015-05-19 18:37] #799 closed

[2015-05-20 13:19] #811 closed

[2015-05-21 14:08] nsinai commented on #804
Thanks for the idea @digiphile!  I personally think this makes a lot of sense, but curious to hear from others.  The user functionality to make (and eventually track) a request should be built on that same API, I would think.

[2015-05-21 15:01] ramirezg commented on #789
[Second Draft](https://docs.google.com/a/gsa.gov/document/d/1_JnWm9_hLRwr6gh5u2KWzqQNh5a7wbU6l-IDLeUvRy4/edit?usp=sharing)

[2015-05-21 15:08] digiphile commented on #796
While it would be handy to know which agencies make it convenient to make electronic FOIA requests, wouldn't it be even handier to build a feature that enables the user to submit a FOIA request digitally to any of them?

[2015-05-26 13:45] ramirezg commented on #792
https://github.com/18F/foia-hub/pull/815

[2015-05-26 13:47] #740 closed

[2015-06-01 20:11] ramirezg opened #817 "Production Still on Old Stack"
Production is on release [0.3](https://github.com/18F/foia-hub/releases/tag/0.3) and does not include PR #783 which includes the new stack changes. We should push production to PR #788, but not #808 until the contact updater has been styled.

[2015-06-05 16:02] rebeccawilliams commented on #790
Surely, you are already thinking of it as an example, but this blogpost was great and honest and a great example: https://18f.gsa.gov/2015/04/09/flexibility-when-releasing-a-new-product-peace-corps-new-donation-platform/

[2015-06-16 22:01] ramirezg opened #823 "Add Agency Name to Dropdown forms"

[2015-06-16 22:01] ramirezg opened #824 "Add an error list to contact updater form"

[2015-06-16 22:02] ramirezg opened #825 "Grey out submit button if form is not valid."

[2015-06-17 14:26] ramirezg opened #827 "Auto download of form data in contact updater"

[2015-06-17 14:26] #817 closed

[2015-06-17 16:38] ramirezg opened #828 "Simplify type-ahead."
Implement simple version of twitter type-ahead, that works with IE8
https://twitter.github.io/typeahead.js/examples/

[2015-07-07 19:03] gbinal opened #831 "Add API documentation to site"
Suggest spinning up https://open.foia.gov/developer (with a redirect from https://open.foia.gov/developers) to serve as a home for the API documentation.

[2016-01-04 21:16] karlgroves commented on #585
Hey there. You may also want to use Tenon (https://www.tenon.io) for this purpose.

[2017-06-23 22:08] NDuma opened #839 "PR Campaign"
Start PR Campaign
 - [ ] Initiate CrowdFunding / Grant / 'Creative' Funding Matrix
 - - PatreoKicFlower?
 - [ ] Isolate Decision(s) & Create Requests & Ads
 - [ ] Developer Community Requests for participation (FCC)
 - [ ] Can GitHubpages.eyeOH host this - Something Else? Funding Requests / (screech! Ads?)
 - [ ] Find Relevant Media Articles / Contact Writers & Editors etc...

Is there some sort o

[2017-06-26 13:50] pkarman commented on #839
This project is no longer active.

[2017-06-26 13:50] #839 closed

[2017-12-25 22:43] #797 closed